<template>
    <div>
        <section class="content-header">
        <h1>Error Page</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="error-page">
            <h2 class="headline text-red">{{codeToShow}}</h2>

            <div class="error-content">
                <h3><i class="fa fa-warning text-red"></i> {{titleToShow}}</h3>

                <p>
                    {{textToShow}}
                </p>

            </div>
        </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "error-page",

        data: function () {
            return {
                currentError: 0,
                errorData: {
                    403: {
                        code: 403,
                        title: this.$i18n.t('total.error_403_title'),
                        text: this.$i18n.t('total.error_403_text')
                    }
                }
            }
        },

        computed: {
            textToShow: function () {
                return this.errorData[this.currentError].text;
            },

            titleToShow: function () {
                return this.errorData[this.currentError].title;
            },

            codeToShow: function () {
                return this.errorData[this.currentError].code;
            }
        },

        created: function () {
            this.currentError = this.$route.query['error'];
            this.errorData['403'].title= this.$i18n.t('total.error_403_title');
            this.errorData['403'].text = this.$i18n.t('total.error_403_text');

        }
    }
</script>

<style scoped>

</style>