<template>
    <div class="wrapper">

        <main-header></main-header>

        <!-- Left side column. contains the logo and sidebar -->
        <main-sidebar></main-sidebar>

        <div class="content-wrapper">

            <router-view></router-view>
        </div>

        <main-footer></main-footer>

    </div>
</template>

<script>

    require('../../../../bower_components/jquery/dist/jquery.min.js');
    require('../../../../bower_components/bootstrap/dist/js/bootstrap.min.js');
    require('../../../../node_modules/admin-lte/dist/js/adminlte.min');

    export default {
        data: function () {
            return {
                adminRole: '',
                isAddLeaveClicked: '',
                editedLeave: ''
            }
        },
        created: function (){
            this.$eventGlobal.$on('update-user-profile', loggedUserData => {
                localStorage.setItem('logged-user', JSON.stringify(loggedUserData))
            });

            this.$eventGlobal.$on('show-request-modal', modalData => {
                $('#add-request').modal('show');
                this.isAddLeaveClicked = modalData.isAddLeaveClicked;
                this.editedLeave = modalData.editedLeave;

            });

        },

        mounted: function () {

            this.$eventGlobal.$emit('update-user-profile', JSON.parse(localStorage.getItem('logged-user')));
        }
    }
</script>

<style scoped>

</style>