<template>
    <div class="modal fade" id="add-request">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" v-if="!request.id && !isAddLeave">{{ $t('total.add_request')}}</h4>
                    <h4 class="modal-title" v-if="request.id">{{ $t('total.edit_request')}}</h4>
                    <h4 class="modal-title" v-if="!request.id && isAddLeave">{{ $t('total.add_leave')}}</h4>

                </div>
                <div class="modal-body form-horizontal" >
                    <div class="form-group" v-if="isAddLeave">
                        <label class="col-sm-3 control-label">{{ $t('total.user')}}</label>

                        <div class="col-sm-9">
                            <select v-model="request.user_id" name="user_id" class="form-control">
                                <option selected disabled class="hidden" value=""></option>
                                <option v-for="userItem in usersList" :value="userItem.id" >{{userItem.name}} {{userItem.surname}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{ $t('total.type')}}</label>

                        <div class="col-sm-9">
                            <select v-model="request.leavetype_id" name="leavetype_id" class="form-control">
                                <option selected disabled class="hidden" value=""></option>
                                <option v-for="leaveType in leaveTypeList" :value="leaveType.id" >{{leaveType.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" v-show="isStartDateInited">
                        <label for="start_date" style="padding-top: 0" class="col-sm-3 control-label">{{ $t('total.start_date')}}</label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" name="start_date" @click="initStartDatePicker()" value="" id="start_date" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" v-show="isStartDateInited">
                        <label for="end_date" style="padding-top: 0" class="col-sm-3 control-label">{{ $t('total.end_date')}}</label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" name="end_date" id="end_date" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" v-show="showDaysInput">
                        <label class="col-sm-3 control-label">{{ $t('total.number_of_days')}}</label>

                        <div class="col-sm-9">
                            <input type="number" v-model="request.days" v-on:keyup="daysKeyup" name="days" id="days" class="form-control">
                            <span class="help-block" v-show="invalidMaxDays">Max number days is {{maxDays}}</span>
                            <span class="help-block" v-show="invalidMinDays">Min number days is 0</span>
                        </div>
                    </div>
                    <div class="form-group" v-show="showHoursInput">
                        <label class="col-sm-3 control-label">{{ $t('total.start_of_hour')}}</label>

                        <div class="col-sm-9">

                            <vue-timepicker v-model="request.start_hour" :minute-interval="10" format="HH:mm" ></vue-timepicker>
                        </div>
                    </div>
                    <div class="form-group" v-show="showHoursInput">
                        <label class="col-sm-3 control-label">{{ $t('total.number_of_hours')}}</label>

                        <div class="col-sm-9">
                            <input type="number" v-model="request.hours" name="hours" id="hours" class="form-control allow-numbers-only">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{ $t('total.close')}}</button>
                    <button type="button" class="btn btn-primary"
                            :disabled="request.leavetype_id == '' || request.start_date == '' || (showHoursInput && !request.hours) "
                            @click="addRequest()"
                            v-if="!request.id && !isAddLeave"
                    >
                        {{ $t('total.send_for_approval')}}
                    </button>
                    <button type="button" class="btn btn-primary"
                            :disabled="request.leavetype_id == '' || request.start_date == '' || (showHoursInput && !request.hours) "
                            @click="emitUpdateLeaveRequest()"
                            v-if="request.id"
                    >
                        {{ $t('total.update_leave_request')}}
                    </button>
                    <button type="button" class="btn btn-primary"
                            :disabled="request.leavetype_id == '' || request.start_date == '' || (showHoursInput && !request.hours) "
                            @click="addLeaveAdmin()"
                            v-if="!request.id && isAddLeave"
                    >
                        {{ $t('total.save_and_confirm')}}
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>

<script>
    import http from '../../mixins/http';
    import helpers from '../../mixins/helpers';

    export default {
        mixins: [http, helpers],
        data: function () {
            return {
                request: {
                    leavetype_id: '',
                    request_status_id: '',
                    start_date: '',
                    end_date: '',
                    days: 1,
                    start_hour:{
                        HH: "09",
                        mm: "00",
                    },
                    hours: '565'
                },
                startDate: {},
                isStartDateInited: false,
                endDate: {},
                leaveTypeList: [],
                usersList: [],
                showHoursInput: '',
                showDaysInput: '',
                roleAdmin: false,
                isAddLeave: '',
                admin: {},
                maxDays: 1,
                invalidMinDays: false,
                invalidMaxDays: false,
                isGreaterThanAllowed: false,
                isGreaterThanZero: false
            }
        },

        created: function () {
            this.$eventGlobal.$on('update-user-profile', (data) => {
                this.admin = data;
            });
        },

        watch: {
            'request.leavetype_id': function(newVal) {

                this.leaveTypeList.forEach(el=>{
                    if(el.id == newVal){
                        if(el.in_hours == 1){
                            this.showDaysInput = false;
                            return this.showHoursInput = true;
                        }else{
                            this.showDaysInput = true;
                            return this.showHoursInput = false;
                        }
                    }
                });

                if(!this.isStartDateInited && newVal !== '' && !this.request.id) {
                    this.initStartDatePicker();
                    this.initEndDatePicker(moment().add(0,'days'));
                }
            },

            'request.days': function(newDays) {
                helpers.allowNumbersOnly();
                if(newDays > this.maxDays){
                    this.request.days = this.maxDays;
                    this.isGreaterThanAllowed = true;
                    this.isGreaterThanZero = false;
                } else if(newDays < 0) {
                    this.request.days = 0;
                    this.isGreaterThanZero = true;
                    this.isGreaterThanAllowed = false;
                }
            },

            editedLeave: function (editedLeave) {
                if(!editedLeave) {
                    this.roleAdmin = false;
                    return this.resetForm();
                }


                this.isStartDateInited = false;

                this.request = editedLeave;
                this.request['start_hour'] = {
                        HH: editedLeave.start_hour.split(':')[0],
                        mm: editedLeave.start_hour.split(':')[1]
                    };

                this.initStartDatePicker(moment(editedLeave.start_date));
                this.initEndDatePicker(moment(editedLeave.end_date));
            },

            isAddLeaveClicked: function (isAddLeaveClicked) {
                this.isAddLeave = isAddLeaveClicked;

                if(this.isAddLeave){
                    this.getAdminLeaveTypeUserList();
                    return this.resetForm();
                }
            }
        },

        methods: {
            daysKeyup: function () {
                if (this.isGreaterThanZero) {
                    this.invalidMinDays = true;
                    this.isGreaterThanZero = false;
                } else if(this.isGreaterThanAllowed) {
                    this.isGreaterThanAllowed = false;
                    this.invalidMaxDays = true;
                } else {
                    this.invalidMinDays = false;
                    this.invalidMaxDays = false;
                }
            },

            loadLeaveTypeList: function () {

                this.httpGet('/api/leave-types-user-selectable')
                    .then(data => {
                        this.leaveTypeList = data;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            getAdminLeaveTypeUserList: function () {
                this.httpGet('/api/admin/leave-types-users-list')
                    .then(data => {
                        this.leaveTypeList = data.data.leavetypes;
                        this.usersList = data.data.users;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            initStartDatePicker: function (setDate) {
                let dateMin = '';
                if(this.isStartDateInited) {
                    return
                }
                if (!setDate  && !this.isAddLeave) {
                    dateMin = moment();
                }
                this.startDate.daterangepicker({
                    timePicker: false,
                    locale: {
                        format: 'DD-MMM-YYYY'
                    },
                    singleDatePicker: true,
                    minDate: setDate? setDate : dateMin,
                    startDate: setDate? setDate : moment()
                });

                this.initStartDateWatcher();

                this.initEndDateWatcher();

                this.isStartDateInited = true;

                this.request.start_date = setDate? setDate.format('YYYY-MM-DD') : moment().format('YYYY-MM-DD');
            },

            initEndDatePicker: function (dateToSet) {
                this.endDate.daterangepicker({
                    startDate: dateToSet,
                    minDate: dateToSet,
                    timePicker: false,
                    locale: {
                        format: 'DD-MMM-YYYY'
                    },
                    singleDatePicker: true,
                    ranges: {
                        startDate: dateToSet
                    }
                });

                this.initEndDateWatcher();

                this.request.end_date = dateToSet ? dateToSet.format('YYYY-MM-DD') : moment().add(0, 'days').format('YYYY-MM-DD');

                this.showDaysDifference();
            },

            initStartDateWatcher: function () {
                this.startDate.on('apply.daterangepicker', (ev, picker) => {

                    let startDate = moment((new Date(ev.target.value).getTime()));
                    this.request.start_date = startDate.format('YYYY-MM-DD');

                    let endDate = moment(startDate.add(0, 'days'));
                    this.request.end_date = endDate.format('YYYY-MM-DD');

                    this.initEndDatePicker(endDate);
                    this.initEndDateWatcher();
                })
            },

            initEndDateWatcher: function () {
                this.endDate.on('apply.daterangepicker', (ev, picker) => {
                    let endDate = moment((new Date(ev.target.value).getTime()));
                    this.request.end_date = endDate.format('YYYY-MM-DD');

                    this.showDaysDifference();
                })
            },

            showDaysDifference: function () {
                let startDate = moment(this.request.start_date);
                let endDate = moment(this.request.end_date);

                this.request.days = moment().weekdayCalc(startDate, endDate ,[1,2,3,4,5]);
                this.maxDays = moment().weekdayCalc(startDate, endDate ,[0,1,2,3,4,5,6]);
            },

            addRequest: function () {
                moment(this.request.start_hour).format('h:mm:ss');

                let data = JSON.parse(JSON.stringify(this.request));

                data.start_hour =  data.start_hour.HH + ':' + data.start_hour.mm + ':00';

                this.httpPost('/api/add-leave-request', data)
                    .then(data => {
                        $('#add-request').modal('hide');
                        let text = this.$i18n.t('total.request_added');
                        alertify.success(text);
                        this.$emit('requestAdded');
                        this.resetForm();
                        this.$eventGlobal.$emit('add-leave', data);
                    })
                    .catch(err => {
                        alertify.error('Error ');
                    })
            },

            resetForm: function () {

                this.request = {
                    leavetype_id: '',
                    start_date: '',
                    end_date: '',
                    days: 1,
                    start_hour:{
                        HH: "09",
                        mm: "00",
                    },
                    hours: ''
                };

                this.invalidMinDays = false;
                this.invalidMaxDays = false;
                this.isGreaterThanAllowed = false;
                this.isGreaterThanZero = false;
                this.showDaysInput = false;
                this.showHoursInput = false;
                this.isStartDateInited = false;
            },

            emitUpdateLeaveRequest: function () {
                this.$eventGlobal.$emit('update-leave-request', JSON.parse(JSON.stringify(this.request)));
            },

            addLeaveAdmin: function () {
                this.roleAdmin = false;

                moment(this.request.start_hour).format('h:mm:ss');
                let data = JSON.parse(JSON.stringify(this.request));
                data.start_hour =  data.start_hour.HH + ':' + data.start_hour.mm + ':00';

                this.httpPost('/api/admin/add-leave', data)
                    .then(data => {
                        $('#add-request').modal('hide');
                        let text = this.$i18n.t('total.leave_added');
                        alertify.success(text);
                        this.$emit('requestAdded');
                        this.resetForm();

                        this.$eventGlobal.$emit('add-leave-admin', data);
                        this.$eventGlobal.$emit('add-leave', data);
                    })
                    .catch(err => {
                        alertify.error('Error ');
                    })
            }
        },
        mounted: function () {
            this.loadLeaveTypeList();
            this.startDate = jQuery('#start_date');
            this.endDate = jQuery('#end_date');
            setTimeout(function () {
                helpers.allowNumbersOnly();
            }, 0);

        },
        props: ['editedLeave', 'isAddLeaveClicked']
    }
</script>

<style scoped>

</style>