<template>
    <div>
        <form>
            <div class="box-body">

                <div class="row" style="margin-bottom: 15px">

                    <div class="col-lg-4 col-md-12">

                        <img class="profile-user-img img-responsive img-circle"  :src="user.avatar" alt="User profile picture" v-if="user.id && user.avatar">

                        <h3 class="profile-username text-center">{{user.name}} {{user.surname}}</h3>

                        <div class="fileContainerWrapper" v-if="!user.listUsers && user.id">
                            <div class="fileContainerBox">
                                <label class="fileContainer">
                                    {{ $t('total.upload_new_avatar')}}
                                    <input type="file"
                                           id="file"
                                           @change="handleFileInput($event.target.files)" >
                                </label>
                            </div>
                        </div>

                        <div class="fileContainerWrapper" v-if="user.listUsers && user.id">
                            <div class="fileContainerBox">
                                <label class="fileContainer">
                                    {{ $t('total.upload_new_avatar')}}
                                    <input type="file"
                                           id="file"
                                           @change="adminHandleFileInput($event.target.files, user.id)">
                                </label>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="row">
                    <!--1st column-->
                    <div class="col-lg-4 col-md-6">

                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-3 control-label">Email</label>

                            <div class="col-sm-9">
                                <input v-model="user.email" name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputSurname" class="col-sm-3 control-label">{{ $t('total.surname')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.surname" name="surname" type="text" class="form-control" id="inputSurname" :placeholder="$t('total.surname')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputName" class="col-sm-3 control-label">{{ $t('total.name')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.name" name="name" type="text" class="form-control" id="inputName" :placeholder="$t('total.name')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputStreet" class="col-sm-3 control-label">{{ $t('total.street')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.street" name="street" type="text" class="form-control" id="inputStreet" :placeholder="$t('total.street')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputNumber" class="col-sm-3 control-label">{{ $t('total.number')}}</label>

                            <div class="col-sm-4">
                                <input v-model="user.number" name="number" type="text" class="form-control" id="inputNumber" :placeholder="$t('total.number')">
                            </div>

                            <label for="inputBox" class="col-sm-2 control-label">{{ $t('total.box')}}</label>

                            <div class="col-sm-3">
                                <input v-model="user.bus" name="bus" type="text" class="form-control" id="inputBox" :placeholder="$t('total.box')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPostalcode" class="col-sm-3 control-label">{{ $t('total.postal_code')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.postalcode" name="postalcode" type="text" class="form-control" id="inputPostalcode" :placeholder="$t('total.postal_code')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputCity" class="col-sm-3 control-label">{{ $t('total.city')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.city" name="city" type="text" class="form-control" id="inputCity" :placeholder="$t('total.city')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ $t('total.country')}}</label>

                            <div class="col-sm-9">
                                <select v-model="user.country" name="country" class="form-control">
                                    <option v-for="country in countryList"  :value="country.code">{{country.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ $t('total.gender')}}</label>

                            <div class="col-sm-9">
                                <select v-model="user.gender" name="gender" class="form-control">
                                    <option v-for="gender in genderList" :value="gender">{{gender}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ $t('total.nationality')}}</label>

                            <div class="col-sm-9">
                                <select v-model="user.nationality" name="nationality" class="form-control">
                                    <option v-for="country in countryList"  :value="country.code">{{country.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="birth_date" class="col-sm-3 control-label">{{ $t('total.birth_date')}}</label>

                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" name="birth_date" id="birth_date" v-on:blur="blurBirthDate" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="birthPlace" class="col-sm-3 control-label">{{ $t('total.birth_place')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.birth_place" name="birth_place" type="text" class="form-control" id="birthPlace" :placeholder="$t('total.birth_place')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="socialSecurityNumber" style="padding-top: 0" class="col-sm-3 control-label">{{ $t('total.social_security_number')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.social_security_number" name="social_security_number" type="text" class="form-control" id="socialSecurityNumber" :placeholder="$t('total.social_security_number')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="iban" class="col-sm-3 control-label">IBAN</label>

                            <div class="col-sm-9">
                                <input v-model="user.iban" name="iban" type="text" class="form-control" id="iban" placeholder="IBAN" @blur="checkIban">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="bic" class="col-sm-3 control-label">BIC</label>

                            <div class="col-sm-9">
                                <input v-model="user.bic" name="bic" type="text" class="form-control" id="bic" placeholder="BIC">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="mobile_phone" class="col-sm-3 control-label">{{ $t('total.mobile_phone')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.mobile_phone" name="mobile_phone" type="text" class="form-control allow-numbers-only" id="mobile_phone" :placeholder="$t('total.mobile_phone')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="mobile_phone_public" style="padding-top: 0" class="col-sm-3 control-label">{{ $t('total.show_mobile_phone')}}</label>

                            <div class="col-sm-7">
                                <div class="grey-checkbox checkbox-margin-top">
                                    <label>
                                        <input v-model="user.mobile_phone_public" id="mobile_phone_public" type="checkbox" name="mobile_phone_public">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="personal_email" class="col-sm-3 control-label">{{ $t('total.personal_email')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.personal_email" name="personal_email" type="email" class="form-control" id="personal_email" :placeholder="$t('total.personal_email')">
                            </div>
                        </div>


                    </div>
                    <!--END 1st column-->

                    <!--2nd column-->
                    <div class="col-lg-4 col-md-6">

                        <div class="form-group" v-if="user.listUsers">
                            <label for="active" style="padding-top: 0" class="col-sm-3 control-label">{{ $t('total.active')}}</label>

                            <div class="col-sm-7">
                                <div class="grey-checkbox checkbox-margin-top">
                                    <label>
                                        <input v-model="user.active" id="active" type="checkbox" name="active">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" v-if="user.listUsers">
                            <label for="supervisor" class="col-sm-3 control-label">{{ $t('total.supervisor')}}</label>

                            <div class="col-sm-9">
                                <select v-model="user.supervisor_id" id="supervisor" name="supervisor_id" class="form-control">
                                    <option v-for="supervisor in user.supervisors" :value="supervisor.value">{{supervisor.label}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="personal_email" class="col-sm-3 control-label">{{ $t('total.work_phone')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.work_phone" name="work_phone" type="text" class="allow-numbers-only form-control " id="work_phone" :placeholder="$t('total.work_phone')">
                            </div>
                        </div>

                        <div class="form-group" v-if="user.listUsers">
                            <label for="contract_type" class="col-sm-3 control-label">{{ $t('total.contract')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.contract_type" name="contract_type" type="text" class="form-control" id="contract_type" :placeholder="$t('total.contract')">
                            </div>
                        </div>

                        <div class="form-group" v-if="user.listUsers">
                            <label for="hours_week" class="col-sm-3 control-label">{{ $t('total.hours')}} / {{ $t('total.week')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.hours_week" name="hours_week" type="text" class="form-control" id="hours_week" :placeholder="$t('total.hours') +' / ' + $t('total.week')">
                            </div>
                        </div>

                        <div class="form-group hidden recruitment-container-div recr">
                            <label for="birth_date" class="col-sm-3 control-label">{{ $t('total.recruitment')}}</label>

                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" name="recruitment" id="recruitment"  class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" v-if="user.listUsers">
                            <label for="function" class="col-sm-3 control-label">{{ $t('total.function')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.function" name="function" type="text" class="form-control" id="function" :placeholder="$t('total.function')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="diploma" class="col-sm-3 control-label">{{ $t('total.diploma')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.diploma" name="diploma" type="text" class="form-control" id="diploma" :placeholder="$t('total.diploma')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="specification" class="col-sm-3 control-label">{{ $t('total.specification')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.specification" name="specification" type="text" class="form-control" id="specification" :placeholder="$t('total.specification')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="transport" class="col-sm-3 control-label">{{ $t('total.transport')}}</label>

                            <div class="col-sm-9">
                                <v-select multiple v-model="user.transport" id="transport" :options="transports"></v-select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="commuting" class="col-sm-3 control-label">{{ $t('total.commuting')}}</label>

                            <div class="col-sm-3 col-xs-9">
                                <input v-model="user.commuting" name="commuting" type="text" class="form-control allow-numbers-only" id="commuting" :placeholder="$t('total.commuting')">
                            </div>

                            <label for="commuting" class="col-sm-2 col-xs-3 control-label" style="font-weight: 100; text-align: left; padding-top: 7px;">km</label>
                        </div>
                    </div>
                    <!--END 2nd column-->

                    <!--3rd column-->
                    <div class="col-lg-4 col-md-12">

                        <div class="form-group">
                            <label for="marital_status" class="col-sm-3 control-label">{{ $t('total.marital_status')}}</label>

                            <div class="col-sm-9">
                                <select v-model="user.marital_status" id="marital_status" name="marital_status" class="form-control">
                                    <option v-for="maritalStatus in maritalStatusList" :value="maritalStatus.code">{{maritalStatus.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="marital_status_since" style="padding-top: 0" class="col-sm-3 control-label">{{ $t('total.marital_status_since')}}</label>

                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" name="marital_status_since" v-on:blur="blurMaritalStatusSince" id="marital_status_since" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="partner_surname" class="col-sm-3 control-label">{{ $t('total.partner_surname')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.partner_surname" name="partner_surname" type="text" class="form-control" id="partner_surname" :placeholder="$t('total.partner_surname')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="partner_name" class="col-sm-3 control-label">{{ $t('total.partner_name')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.partner_name" name="partner_name" type="text" class="form-control" id="partner_name" :placeholder="$t('total.partner_name')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="partner_birth_date" style="padding-top: 0" class="col-sm-3 control-label">{{ $t('total.partner_birth_date')}}</label>

                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text"  name="partner_birth_date" id="partner_birth_date" v-on:blur="blurPartnerBirthDate" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="partner_profession" style="padding-top: 0" class="col-sm-3 control-label">{{ $t('total.partner_profession')}}</label>

                            <div class="col-sm-9">
                                <input v-model="user.partner_profession" name="partner_profession" type="text" class="form-control" id="partner_profession" :placeholder="$t('total.partner_profession')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="partner_dependant" style="padding-top: 0" class="col-sm-3 control-label">{{ $t('total.partner_dependant')}}</label>

                            <div class="col-sm-7">
                                <div class="grey-checkbox checkbox-margin-top">
                                    <label>
                                        <input v-model="user.partner_dependant" id="partner_dependant" type="checkbox" name="partner_dependant">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dependant_children_count" style="padding-top: 0" class="col-sm-3 control-label">{{ $t('total.number_of_children_dependant')}}</label>

                            <div class="col-sm-9">
                                <input name="dependant_children_count" type="number" class="form-control" id="dependant_children_count"
                                       v-model="user.dependant_children_count"
                                       :placeholder="$t('total.number_of_children_dependant')"
                                >
                            </div>
                        </div>
                        <div>
                            <table class="table table-bordered " v-if="user.children && user.children.length">
                                <tbody>
                                <tr>
                                    <th>{{ $t('total.name')}}</th>
                                    <th>{{ $t('total.surname')}}</th>
                                    <th>{{ $t('total.birth_date')}}</th>
                                    <th></th>
                                </tr>

                                <tr v-for="child in user.children">
                                    <td>{{child.name}}</td>
                                    <td>{{child.surname}}</td>
                                    <td>{{child.dateBirth}}</td>
                                    <td>
                                        <a href="javascript:void(0)" @click="showEditModal(child)" >{{ $t('total.edit')}}</a>
                                        <a href="javascript:void(0)" @click="showRemoveModal(child)">{{ $t('total.remove')}}</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="text-right" style="margin-bottom: 15px;">
                                <a href="javascript:void(0)" @click="showAddModal()" class="btn btn-primary"><i class="fa fa-plus margin-r-5"></i>{{ $t('total.add_child')}}</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="partner_profession" style="padding-top: 0" class="col-sm-3 control-label">{{ $t('total.extra_info')}}</label>

                            <div class="col-sm-9">
                                <textarea v-model="user.extra_info" name="partner_profession" type="text" class="form-control" id="extra_info" :placeholder="$t('total.extra_info')"></textarea>
                            </div>
                        </div>


                    </div>
                    <!--END 3rd column-->
                </div>


            </div>
            <!-- /.box-body -->

            <div class="modal-footer" v-if="user.listUsers">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{ $t('total.close')}}</button>
                <button type="button" class="btn btn-primary"
                        :disabled="user.id == '' || isInvalidIban"
                        @click="emitUpdateUsersProfile()"
                        v-if="user.id"
                >
                    {{ $t('total.update_user')}}
                </button>
                <button type="button" class="btn btn-primary"
                        v-bind:disabled="user.name == '' || user.surname == '' || isInvalidIban "
                        @click="addUser()"
                        v-if="!user.id"
                >
                    {{ $t('total.add_user')}}
                </button>
            </div>

            <div class="box-footer" v-if="!user.listUsers">
                <a href="javascript:void(0)" @click="emitUpdateUsersProfile()" :disabled="isInvalidIban" class="btn btn-success pull-right"><i class="fa fa-save"></i> {{ $t('total.save')}}</a>
            </div>
        </form>

        <div class="modal fade" id="modal_child" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" v-if="editedChild.id">{{ $t('total.edit_child')}}</h4>
                        <h4 class="modal-title" v-if="!editedChild.id">{{ $t('total.add_child')}}</h4>
                    </div>
                    <div class="modal-body form-horizontal">
                        <div class="form-group">
                            <label for="child_surname" class="col-sm-3 control-label">{{ $t('total.surname')}}</label>
                            <!-- <input v-model="user.id" name="user_id" type="hidden">-->
                            <div class="col-sm-9">
                                <input v-model="editedChild.surname" name="child_surname" type="text" class="form-control" id="child_surname" :placeholder="$t('total.surname')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="child_name" class="col-sm-3 control-label">{{ $t('total.name')}}</label>

                            <div class="col-sm-9">
                                <input v-model="editedChild.name" name="child_name" type="text" class="form-control" id="child_name" :placeholder="$t('total.name')">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="child_birth_date" style="padding-top: 0" class="col-sm-3 control-label">{{ $t('total.birth_date')}}</label>

                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text"  name="child_birth_date" id="child_birth_date" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{ $t('total.close')}}</button>
                        <button type="button" class="btn btn-primary"
                                :disabled="editedChild.surname == '' || editedChild.name == ''"
                                @click="updateChild()"
                                v-if="editedChild.id && !user.listUsers"
                        >
                            {{ $t('total.save_changes')}}
                        </button>
                        <button type="button" class="btn btn-primary"
                                :disabled="editedChild.surname == '' || editedChild.name == ''"
                                @click="adminUpdateChild()"
                                v-if="editedChild.id && user.listUsers"
                        >
                            {{ $t('total.save_changes')}}
                        </button>
                        <button type="button" class="btn btn-primary"
                                :disabled="!editedChild.surname || !editedChild.name "
                                @click="addChild()"
                                v-if="!editedChild.id && !user.listUsers"
                        >
                            {{ $t('total.add_child')}}
                        </button>
                        <button type="button" class="btn btn-primary"
                                :disabled="!editedChild.surname || !editedChild.name"
                                @click="adminAddChild()"
                                v-if="!editedChild.id && user.listUsers"
                        >
                            {{ $t('total.add_child')}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal_child_remove" style="display: none;">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2 class="text-center">Are you sure to remove{{ $t('total.are_you_sure_to_remove')}}?</h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{ $t('total.close')}}</button>
                        <button type="button" class="btn btn-primary" @click="removeChild()" v-if="!user.listUsers">{{ $t('total.remove')}}</button>
                        <button type="button" class="btn btn-primary" @click="adminRemoveChild()" v-if="user.listUsers">{{ $t('total.remove')}}</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import http from '../../mixins/http';
    import helpers from '../../mixins/helpers';
    import countryList  from '../../common-data/country-list';
    import transportList  from '../../common-data/transport-list';
    import genderList from '../../common-data/gender-list';
    import maritalStatusList from '../../common-data/marital-status-list';

    require('../../../../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker');
    require('../../../../../bower_components/bootstrap-daterangepicker/daterangepicker');

    export default {
        mixins: [http, helpers],
        name: "user-profile",
        data: function() {
            return {
                user: {
                    children: []
                },
                isSubmitting: false,
                countryList: countryList,
                transports: transportList,
                genderList: genderList,
                maritalStatusList: maritalStatusList,
                birthdayPicker: {},
                recruitmentPicker: {},
                maritalStatusSincePicker: {},
                partnerBirthDatePicker: {},
                editedChild: {},
                editedChildBirthDatePicker: {},
                isInvalidIban: false
            }
        },
        watch: {

            editedUser: function (editedUser) {
                this.isInvalidIban = false;
                $('#iban').parent().parent().removeClass('has-error');
                this.user = JSON.parse(JSON.stringify(editedUser));
                if (this.user.transport) {
                    this.user.transport = this.user.transport.split(",");
                }
                this.setInitialDatesToDatePickers();
                this.setDatePickerWatchers();
                this.displayChildrenBirthDate();
                this.hiddenEditUserModal();

                if (this.user.listUsers) {
                    $('.recruitment-container-div').removeClass('hidden');
                }
            }

        },

        methods: {
            blurBirthDate: function () {
               let newDate = new Date(jQuery('#birth_date').val());
               this.user.birth_date = moment(newDate).format('YYYY-MM-DD');
            },

            blurMaritalStatusSince: function () {
               let newMaritalStatusSince = new Date(jQuery('#marital_status_since').val());
               this.user.marital_status_since = moment(newMaritalStatusSince).format('YYYY-MM-DD');
            },


            blurPartnerBirthDate: function () {
               let newPartnerBirthDate = new Date(jQuery('#partner_birth_date').val());
               this.user.partner_birth_date = moment(newPartnerBirthDate).format('YYYY-MM-DD');
            },


            blurRecruitment: function () {
               let newRecruitment = new Date(jQuery('#recruitment').val());
               this.user.recruitment = moment(newRecruitment).format('YYYY-MM-DD');
            },

            hiddenEditUserModal: function () {
                $('#edit-user').on('hidden.bs.modal', () => {
                    this.birthdayPicker.datepicker().off('changeDate');
                    this.maritalStatusSincePicker.datepicker().off('changeDate');
                    this.partnerBirthDatePicker.datepicker().off('changeDate');
                    this.editedChildBirthDatePicker.datepicker().off('changeDate');

                    if(!$('.recruitment-container-div').hasClass('hidden')) {
                        $('.recruitment-container-div').removeClass('hidden');
                    }

                });
            },

            setInitialDatesToDatePickers: function() {
                this.birthdayPicker.datepicker('setDate',moment(this.user.birth_date).toDate());
                this.maritalStatusSincePicker.datepicker('setDate',moment(this.user.marital_status_since).toDate());
                this.partnerBirthDatePicker.datepicker('setDate',moment(this.user.partner_birth_date).toDate());
                this.recruitmentPicker.datepicker('setDate',moment(this.user.recruitment).toDate());
            },

            setDatePickerWatchers: function() {
                this.birthdayPicker.datepicker()
                    .on('changeDate',(e) => {
                        this.user.birth_date = moment(e.date).format('YYYY-MM-DD');
                    });

                this.recruitmentPicker.datepicker()
                    .on('changeDate',(e) => {
                        this.user.recruitment = moment(e.date).format('YYYY-MM-DD');
                    });

                this.maritalStatusSincePicker.datepicker()
                    .on('changeDate',(e) => {
                        this.user.marital_status_since = moment(e.date).format('YYYY-MM-DD');
                    });

                this.partnerBirthDatePicker.datepicker()
                    .on('changeDate',(e) => {
                        this.user.partner_birth_date = moment(e.date).format('YYYY-MM-DD');
                    });

                this.editedChildBirthDatePicker.datepicker()
                    .on('changeDate',(e) => {
                        this.editedChild.birth_date = moment(e.date).format('YYYY-MM-DD');
                    });


            },

            displayChildrenBirthDate: function () {
                if(this.user.children && this.user.children.length) {
                    this.user.children.forEach(ch => {
                        ch.dateBirth = moment(ch.birth_date).format('DD-MMM-YYYY');
                    })
                }
            },

            handleFileInput: function ($files) {
                let fileToUpload = $files.item(0);

                this.httpPostFile('/api/update-user-profile-picture', fileToUpload, 'profile-picture')
                    .then(data => {
                        this.user = data.data;
                        if (this.user.transport) {
                            this.user.transport = this.user.transport.split(",");
                        }
                        this.$eventGlobal.$emit('update-user-profile', data.data);
                        this.displayChildrenBirthDate();
                    })
                    .catch(err => {

                    })
            },

            adminHandleFileInput: function ($files, userId) {
                let fileToUpload = $files.item(0);

                this.httpPostFile('/api/admin/update-user-profile-picture/' + userId + '', fileToUpload, 'profile-picture')
                    .then(data => {
                        this.user = data.data;
                        if (this.user.transport) {
                            this.user.transport = this.user.transport.split(",");
                        }
                        this.displayChildrenBirthDate();
                        this.$emit('userAdded');
                    })
                    .catch(err => {

                    })
            },


            emitUpdateUsersProfile: function () {
                let data = JSON.parse(JSON.stringify(this.user));
                this.$emit('onUpdateUser', data);
            },

            showEditModal: function (child) {
                this.editedChild = JSON.parse(JSON.stringify(child));
                this.editedChildBirthDatePicker.datepicker('setDate',moment(this.editedChild.birth_date).toDate()); //clearDates
                $('#modal_child').modal('show');
            },

            updateChild: function () {
                this.httpPut('/api/update-user-child', this.editedChild)
                    .then(data => {
                        this.user.children = data.data.children;
                        $('#modal_child').modal('hide');
                        this.displayChildrenBirthDate();
                    })
            },

            adminUpdateChild: function () {
                this.httpPut('/api/admin/update-user-child', this.editedChild)
                    .then(data => {
                        this.user.children = data.data.children;
                        this.user.listUsers = true;
                        $('#modal_child').modal('hide');
                        this.displayChildrenBirthDate();
                        this.$emit('userAdded');
                    })
            },

            addChild: function () {
                this.editedChild['user_id'] = this.user.id;
                this.httpPost('/api/add-user-child', this.editedChild)
                    .then(data => {
                        this.user.children = data.data.children;
                        $('#modal_child').modal('hide');
                        this.displayChildrenBirthDate();
                        let text = this.$i18n.t('total.child_added');
                        alertify.success(text);
                    })
            },

            adminAddChild: function () {
                this.editedChild['user_id'] = this.user.id;
                this.httpPost('/api/admin/add-user-child', this.editedChild)
                    .then(data => {
                        this.user.children = data.data.children;
                        this.user.listUsers = true;
                        $('#modal_child').modal('hide');
                        this.displayChildrenBirthDate();
                        let text = this.$i18n.t('total.child_added');
                        alertify.success(text);
                        this.$emit('userAdded');
                    })
            },

            showAddModal: function () {
                this.editedChild = {
                    birth_date: ''
                };
                this.editedChildBirthDatePicker.datepicker('setDate',moment(this.editedChild.birth_date).toDate());
                $('#modal_child').modal('show');
            },

            showRemoveModal: function (child) {
                this.editedChild = child;
                $('#modal_child_remove').modal('show');
            },

            removeChild(){
                this.httpDelete('/api/delete-user-child/'+this.editedChild.id)
                    .then(data => {
                        this.user.children = data.data.children;
                        $('#modal_child_remove').modal('hide');
                        this.displayChildrenBirthDate();
                        let text = this.$i18n.t('total.child_removed');
                        alertify.success(text);
                    });
            },

            adminRemoveChild(){
                this.httpDelete('/api/admin/delete-user-child/'+this.editedChild.id)
                    .then(data => {
                        this.user.children = data.data.children;
                        this.user.listUsers = true;
                        $('#modal_child_remove').modal('hide');
                        this.displayChildrenBirthDate();
                        let text = this.$i18n.t('total.child_removed');
                        alertify.success(text);
                        this.$emit('userAdded');
                    });
            },

            addUser: function () {

                let data = JSON.parse(JSON.stringify(this.user));
                this.httpPost('/api/admin/add-user', data)
                    .then(data => {
                        $('#edit-user').modal('hide');
                        let text = this.$i18n.t('total.user_added');
                        alertify.success(text);
                        this.$emit('userAdded');
                });
            },

            checkIban: function () {
                if (this.user.iban && this.user.iban.length > 0) {
                    let post = {
                        iban: this.user.iban,
                    };
                    this.httpPost('/api/check-user-iban', post)
                        .then(data => {
                            this.isInvalidIban = false;
                            $('#iban').parent().parent().removeClass('has-error');
                        })
                        .catch(err => {
                            console.log('err', err);
                            this.isInvalidIban = true;
                            $('#iban').parent().parent().addClass('has-error');
                            alertify.error(err.data.message);
                        })
                }

            }

        },

        mounted: function () {
            this.birthdayPicker = jQuery('#birth_date');
            this.recruitmentPicker = jQuery('#recruitment');
            this.maritalStatusSincePicker = jQuery('#marital_status_since');
            this.partnerBirthDatePicker = jQuery('#partner_birth_date');
            this.editedChildBirthDatePicker = jQuery('#child_birth_date');

            this.birthdayPicker.datepicker({format: 'dd-M-yyyy', autoclose: true});
            this.recruitmentPicker.datepicker({format: 'dd-M-yyyy', autoclose: true});
            this.maritalStatusSincePicker.datepicker({format: 'dd-M-yyyy', autoclose: true});
            this.partnerBirthDatePicker.datepicker({format: 'dd-M-yyyy', autoclose: true});
            this.editedChildBirthDatePicker.datepicker({format: 'dd-M-yyyy', autoclose: true});
            helpers.allowNumbersOnly();
        },

        props: ['editedUser']

    }
</script>

<style scoped>

</style>