<template>
    <div>
        <section class="content-header">
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <sub-menu-header></sub-menu-header>
                <div class="col-sm-12">
                    <h1>
                        {{$t('total.leavetypes')}}
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="box">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>
                            <h3 class="box-title">{{$t('total.leavetypes')}}</h3>
                            <div class="box-tools">
                                <pagination :records="parseInt(leavetypes.total)" :per-page="15" @paginate="leaveTypesPageChanged"></pagination>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>{{$t('total.leavetype')}}</th>
                                            <th>{{$t('total.user_selectable')}}</th>
                                            <th>{{$t('total.in_hours')}}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="leavetypeItem in leavetypes.data">
                                            <td>{{leavetypeItem.name}}</td>
                                            <td>{{leavetypeItem.user_selectable}}</td>
                                            <td>{{leavetypeItem.in_hours}}</td>
                                            <td>
                                                <a href="javascript:void(0)" @click="showLeavetypeEditModal(leavetypeItem)" >{{$t('total.edit')}}</a>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <a href="javascript:void(0)" @click="showLeavetypeModal()" class="btn btn-success pull-right"><i class="fa fa-plus"></i> {{$t('total.add')}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="leavetype_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" v-if="!editedLeavetype.id">{{$t('total.add_leavetype')}}</h4>
                        <h4 class="modal-title" v-if="editedLeavetype.id">{{$t('total.edit_leavetype')}}</h4>
                    </div>
                    <div class="modal-body form-horizontal" >
                        <div class="form-group">
                            <label for="inputName" class="col-sm-3 control-label">{{$t('total.leavetype_name')}}</label>
                            <div class="col-sm-9">
                                <input v-model="editedLeavetype.name" name="name" type="text" class="form-control" id="inputName" :placeholder="$t('total.leavetype_name')">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_selectable" style="padding-top: 0" class="col-sm-3 control-label"></label>

                            <div class="col-sm-7">
                                <div class="grey-checkbox checkbox-margin-top">
                                    <label>
                                        <input v-model="editedLeavetype.user_selectable" id="user_selectable" type="checkbox" name="user_selectable" class="pr-5">
                                        <span></span><b class="pl-5">{{$t('total.user_selectable')}}</b>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="in_hours" style="padding-top: 0" class="col-sm-3 control-label"></label>

                            <div class="col-sm-7">
                                <div class="grey-checkbox checkbox-margin-top">
                                    <label>
                                        <input v-model="editedLeavetype.in_hours" id="in_hours" type="checkbox" name="in_hours">
                                        <span></span> <b class="pl-5">{{$t('total.in_hours')}}s</b>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{$t('total.close')}}</button>
                        <button type="button" :disabled="editedLeavetype.name == ''" @click="addLeavetype()" class="btn btn-primary" v-if="!editedLeavetype.id">{{$t('total.save_leavetype')}}</button>
                        <button type="button" :disabled="editedLeavetype.name == ''" @click="UpdateLeavetype()" class="btn btn-primary" v-if="editedLeavetype.id">{{$t('total.update_leavetype')}}</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </div>
</template>

<script>
    import http from '../../../mixins/http';
    export default {
        mixins: [http],
        name: "leavetypes",
        data: function () {
            return {
                user: JSON.parse(localStorage.getItem('logged-user')),
                leavetypes: {},
                editedLeavetype: {
                    name: '',
                    user_selectable: false,
                    in_hours: false
                },
                pageNum: ''
            }
        },

        created: function (){

            this.$eventGlobal.$on('update-user-profile', (data) => {
                this.user = data;
            });
            this.httpGet('/api/admin/leavetypes' )
                .then(data => {
                    this.leavetypes = data.data;
                })
                .catch(err => {
                    console.log('err', err);
                });
        },

        methods:  {

            leaveTypesPageChanged: function(pageNumber){
                this.pageNum = pageNumber;
                this.httpGet('/api/admin/leavetypes?page=' + this.pageNum)
                    .then(data => {
                        this.leavetypes = data.data;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            showLeavetypeModal: function() {
                this.resetFormLeavetype();
                $('#leavetype_modal').modal('show');
            },

            addLeavetype: function() {
                let data = JSON.parse(JSON.stringify(this.editedLeavetype));
                this.httpPost('/api/admin/add-leavetype?page=' + this.pageNum, data)
                    .then(data => {
                        this.leavetypes = data.data;
                        $('#leavetype_modal').modal('hide');

                        let text = this.$i18n.t('total.added');
                        alertify.success('Leavetype ' + text);
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            resetFormLeavetype: function() {
                this.editedLeavetype = {
                    name: '',
                    user_selectable: false,
                    in_hours: false
                }
            },

            showLeavetypeEditModal: function(leavetype) {
                this.editedLeavetype = JSON.parse(JSON.stringify(leavetype));
                $('#leavetype_modal').modal('show');
            },

            UpdateLeavetype: function() {

                this.httpPost('/api/admin/update-leavetype?page=' + this.pageNum, this.editedLeavetype)
                    .then(data => {
                        this.leavetypes = data.data;
                        $('#leavetype_modal').modal('hide');

                        let text = this.$i18n.t('total.updated');
                        alertify.success('Leavetype ' + text);

                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },
        }
    }
</script>

<style scoped>

</style>