<template>
    <div>
        <section class="content-header">
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <sub-menu-header></sub-menu-header>
                <div class="col-sm-12">
                    <h1>
                        {{$t('total.paycheck_process')}}
                    </h1>

                    <h5>{{$t('total.text_desc')}}</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>
                            <h3 class="box-title">{{$t('total.leave_requests')}}</h3>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" @click="showProcessed = !showProcessed">
                                            {{$t('total.show_processed')}}
                                        </label>
                                    </div>
                                </div>
                            <div class="box-tools">
                                <pagination :records="parseInt(leaverequests.total)" :per-page="15" @paginate="leaveRequestPageChanged"></pagination>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>{{$t('total.user')}}</th>
                                            <th>{{$t('total.type')}}</th>
                                            <th>{{$t('total.start_date')}}</th>
                                            <th>{{$t('total.end_date')}}</th>
                                            <th>#{{$t('total.days')}}</th>
                                            <th>#{{$t('total.hours')}}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="leaverequestItem in leaverequests.data" v-if="!leaverequestItem.paycheck_process || showProcessed">
                                            <td>{{leaverequestItem.user.name}}{{leaverequestItem.user.surname}}</td>
                                            <td>{{leaverequestItem.leave_type.name}}</td>
                                            <td>{{leaverequestItem.start_date}}</td>
                                            <td>{{leaverequestItem.end_date}}</td>
                                            <td>{{leaverequestItem.days}}</td>
                                            <td>{{leaverequestItem.hours}}</td>
                                            <td>
                                                <span v-if="leaverequestItem.paycheck_process">{{$t('total.processed')}}</span>
                                                <a v-if="!leaverequestItem.paycheck_process" href="javascript:void(0)" @click="addPaycheckProcess(leaverequestItem)">{{$t('total.mark_done')}}</a>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</template>

<script>
    import http from '../../../mixins/http';
    export default {
        mixins: [http],
        name: "paycheck-process",

        data: function () {
            return {
                user: JSON.parse(localStorage.getItem('logged-user')),
                leaverequests: {},
                editedLeavetype: {
                    name: '',
                    user_selectable: false,
                    in_hours: false
                },
                pageNum: 1,
                showProcessed: false
            }
        },

        created: function (){

            this.$eventGlobal.$on('update-user-profile', (data) => {
                this.user = data;
            });

            this.httpGet('/api/admin/paycheck-process' )
                .then(data => {
                    this.leaverequests = data.data;
                })
                .catch(err => {
                    console.log('err', err);
                });
        },
        methods:  {

            leaveRequestPageChanged: function (pageNumber) {
                this.pageNum = pageNumber;
                this.httpGet('/api/admin/paycheck-process?page=' + pageNumber )
                    .then(data => {
                        this.leaverequests = data.data;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            addPaycheckProcess: function (leaveRequest) {
                this.httpPost('/api/admin/add-paycheck-process?page=' + this.pageNum, leaveRequest)
                    .then(data => {
                        this.leaverequests = data.data;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            updateLeaveRequestsList: function (pageN){
                this.httpGet('/api/admin/paycheck-process?page=' + pageN )
                    .then(data => {
                        this.leaverequests = data.data;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            }
        },

        mounted: function(){

            this.$eventGlobal.$on('add-leave-admin', editedLeave => {
                this.updateLeaveRequestsList(1);

            });
        }
    }
</script>

<style scoped>

</style>