<template>
    <div>
        <section class="content-header">
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                    <sub-menu-header></sub-menu-header>
                <div class="col-sm-12">
                    <h1>
                        {{$t('total.public_holidays')}}
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <select v-model="yearChosen" name="year" class="form-control">
                            <option v-for="year in this.years"
                                    :value="year">{{year}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>
                            <h3 class="box-title">{{$t('total.public_holidays')}}</h3>
                            <div class="box-tools">
                                <pagination :records="parseInt(publicHolidays.total)" :per-page="15" @paginate="publicHolidayPageChanged"></pagination>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>{{$t('total.public_holiday')}}</th>
                                            <th>{{$t('total.date')}}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="publicHolidayItem in publicHolidays.data">
                                            <td>{{publicHolidayItem.name}}</td>
                                            <td>{{publicHolidayItem.dateFormat}}</td>
                                            <td>
                                                <a href="javascript:void(0)" @click="showHolidayEditModal(publicHolidayItem)" >{{$t('total.edit')}}</a>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <a href="javascript:void(0)" @click="showHolidayModal()" class="btn btn-success pull-right"><i class="fa fa-plus"></i> {{$t('total.add')}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="public_holiday_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" v-if="!editedPublicHoliday.id">{{$t('total.add_public_holiday')}}</h4>
                        <h4 class="modal-title" v-if="editedPublicHoliday.id">{{$t('total.edit_public_holiday')}}</h4>
                    </div>
                    <div class="modal-body form-horizontal" >
                        <div class="form-group">
                            <label for="inputName" class="col-sm-4 control-label">{{$t('total.public_holiday_name')}}</label>
                            <div class="col-sm-8">
                                <input v-model="editedPublicHoliday.name" name="name" type="text" class="form-control" id="inputName" :placeholder="$t('total.public_holiday_name')">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="public_holiday_date" style="padding-top: 0" class="col-sm-4 control-label">{{$t('total.date')}}</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text"  name="date" id="public_holiday_date" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{$t('total.close')}}</button>
                        <button type="button" :disabled="editedPublicHoliday.name == ''" @click="addPublicHoliday()" class="btn btn-primary" v-if="!editedPublicHoliday.id">{{$t('total.save_public_holiday')}}</button>
                        <button type="button" :disabled="editedPublicHoliday.name == ''" @click="UpdatePublicHoliday()" class="btn btn-primary" v-if="editedPublicHoliday.id">{{$t('total.update_public_holiday')}}</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


    </div>
</template>

<script>

    require('../../../../../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker');
    require('../../../../../../bower_components/bootstrap-daterangepicker/daterangepicker');

    import http from '../../../mixins/http';
    export default {
        mixins: [http],
        name: "public-holidays",
        data: function() {
            return {
                user: JSON.parse(localStorage.getItem('logged-user')),
                publicHolidays: {},
                pageNum: 1,
                yearChosen: '',
                years: [],
                thisYear: new Date(),
                editedPublicHoliday: {
                    name: '',
                    date: ''
                },
                adminRole: '',
                editedLeave: {},
                editedHolidayDatePicker: {},
                isAddLeaveClicked: ''
            }
        },
        created: function() {
            this.$eventGlobal.$on('update-user-profile', (data) => {
                this.user = data;
            });
            this.httpGet('/api/admin/public-holidays?year=' + this.thisYear.getFullYear() + '-01-01&nextYear=' + (this.thisYear.getFullYear() + 1) + '-01-01')
                .then(data => {
                    this.publicHolidays = data.data.holidays;
                    this.years = data.data.years;
                    this.displayHolidayDate();
                    this.setDatePickerWatchers();
                })
                .catch(err => {
                    console.log('err', err);
                });
        },
        watch: {
            'yearChosen': function(newVal) {
                this.httpGet('/api/admin/public-holidays?page=' + this.pageNum + '&year=' + newVal + '-01-01&nextYear=' + (newVal + 1) + '-01-01')
                    .then(data => {
                        this.publicHolidays = data.data.holidays;
                        this.displayHolidayDate();
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            }

        },

        methods: {

            setDatePickerWatchers: function() {
                this.editedHolidayDatePicker.datepicker()
                    .on('changeDate',(e) => {
                        this.editedPublicHoliday.date = moment(e.date).format('YYYY-MM-DD');
                    });
            },

            publicHolidayPageChanged: function(pageNumber){
                this.pageNum = pageNumber;
                this.httpGet('/api/admin/public-holidays?page=' + this.pageNum + '&year=' + this.yearChosen + '-01-01&nextYear=' + (this.yearChosen + 1) + '-01-01')
                    .then(data => {
                        this.publicHolidays = data.data;
                        this.displayHolidayDate();
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            showHolidayModal: function() {
                this.editedPublicHoliday = {
                    date: '',
                    name: ''
                };
                this.editedHolidayDatePicker.datepicker('setDate',moment(this.editedPublicHoliday.date).toDate());
                $('#public_holiday_modal').modal('show');
            },

            addPublicHoliday: function () {
                let data = JSON.parse(JSON.stringify(this.editedPublicHoliday));
                this.httpPost('/api/admin/add-public-holidays?page=' + this.pageNum + '&year=' + this.yearChosen + '-01-01&nextYear=' + (this.yearChosen + 1) + '-01-01', data)
                    .then(data => {
                        this.publicHolidays = data.data;
                        this.displayHolidayDate();
                        $('#public_holiday_modal').modal('hide');

                        let text = this.$i18n.t('total.public_holiday_added');
                        alertify.success(text);
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            showHolidayEditModal: function(publicHoliday) {
                this.editedPublicHoliday = JSON.parse(JSON.stringify(publicHoliday));
                this.editedHolidayDatePicker.datepicker('setDate',moment(this.editedPublicHoliday.date).toDate());
                $('#public_holiday_modal').modal('show');
            },

            UpdatePublicHoliday: function() {
                this.httpPost('/api/admin/update-public-holidays?page=' + this.pageNum + '&year=' + this.yearChosen + '-01-01&nextYear=' + (this.yearChosen + 1) + '-01-01', this.editedPublicHoliday)
                    .then(data => {
                        this.publicHolidays = data.data;
                        this.displayHolidayDate();
                        $('#public_holiday_modal').modal('hide');

                        let text = this.$i18n.t('total.public_holiday_updated');
                        alertify.success(text);
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            displayHolidayDate: function () {
                this.publicHolidays.data.forEach(ch => {
                    ch.dateFormat = moment(ch.date).format('DD/MM/YYYY');
                })
            },

            updateLeave: function () {

            }
        },

        mounted: function() {
            this.yearChosen = this.thisYear.getFullYear();
            this.editedHolidayDatePicker = jQuery('#public_holiday_date');

            this.editedHolidayDatePicker.datepicker({format: 'dd-M-yyyy', autoclose: true});

        }
    }
</script>

<style scoped>

</style>