<template>
    <div>
        <section class="content-header">
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <sub-menu-header></sub-menu-header>
                <div class="col-sm-12">
                    <h1>
                        {{$t('total.set_leavedays')}}
                    </h1>
                </div>
            </div>

            <div class="row form-horizontal">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-sm-5 control-label"> {{$t('total.text_desc')}} </label>
                        <div class="col-sm-3">
                            <select v-model="yearChosen" name="year" class="form-control">
                                <option v-for="year in this.years"
                                        :value="year">{{year}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 text-right">
                    <a href="javascript:void(0)" :disabled="this.thisYear.getFullYear() != this.yearChosen" class="btn btn-primary" @click="clickCopyCurYearToNextYear()">{{$t('total.copy_current')}}</a>
                </div>

                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">{{$t('total.show')}}</label>
                        <div class="col-sm-10 vselect">
                            <div>
                                <v-select multiple v-model="usersList" :options="usersListSelection"></v-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>
                            <h3 class="box-title">{{$t('total.default_leave_days')}}</h3>
                            <div class="box-tools">
                                <pagination :records="parseInt(usersLeave.total)" :per-page="15" @paginate="usersLeavePageChanged"></pagination>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>{{$t('total.user')}}</th>
                                            <th>{{$t('total.default_leave_days')}}</th>
                                            <th>{{$t('total.leave_hours')}}</th>
                                            <th>{{$t('total.extra_leave_days')}}</th>
                                            <th>{{$t('total.extra_leave_days_teamleader')}}</th>
                                            <th>{{$t('total.public_holidays')}}</th>
                                            <th>{{$t('total.old_overtime')}}</th>
                                            <th>{{$t('total.year')}}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="usersLeaveItem in usersLeave.data">
                                            <td>{{usersLeaveItem.name}} {{usersLeaveItem.surname}}</td>
                                            <td>{{usersLeaveItem.default_leavedays}}</td>
                                            <td>{{usersLeaveItem.default_leavehours}}</td>
                                            <td>{{usersLeaveItem.extra_leavedays}}</td>
                                            <td>{{usersLeaveItem.extra_leavedays_teamleader}}</td>
                                            <td>{{usersLeaveItem.holiday_number}}</td>
                                            <td>{{usersLeaveItem.old_overtime}}</td>
                                            <td>{{usersLeaveItem.year}}</td>
                                            <td>
                                                <a href="javascript:void(0)" @click="showEditLeaveModal(usersLeaveItem)" >{{$t('total.edit')}}</a>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="user_leave_modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" v-if="editedUserLeave.id">{{$t('total.edit_leavedays_for_user')}} {{editedUserLeave.name}} {{editedUserLeave.surname}}</h4>
                        <h4 class="modal-title" v-if="!editedUserLeave.id">{{$t('total.save_leavedays_for_user')}} {{editedUserLeave.name}} {{editedUserLeave.surname}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label for="default_leavedays" class="control-label">{{$t('total.default_leave_days')}}</label>
                                    <input v-model="editedUserLeave.default_leavedays"
                                           name="default_leavedays" type="text" class="form-control allow-numbers-only" id="default_leavedays"
                                           :placeholder="$t('total.default_leave_days')"
                                    >
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="default_leavehours" class="control-label">{{$t('total.leave_hours')}}</label>
                                    <input name="default_leavehours" type="text" class="form-control allow-numbers-only" id="default_leavehours"
                                            v-model="editedUserLeave.default_leavehours"
                                           :placeholder="$t('total.leave_hours')"
                                    >
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="extra_leavedays" class="control-label">{{$t('total.extra_leave_days')}}</label>
                                    <input name="extra_leavedays" type="text" class="form-control allow-numbers-only" id="extra_leavedays"
                                           v-model="editedUserLeave.extra_leavedays"
                                           :placeholder="$t('total.extra_leave_days')"
                                    >
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="extra_leavedays_teamleader" class="control-label">{{$t('total.extra_leave_days_teamleader')}}</label>
                                    <input name="extra_leavedays_teamleader" type="text" class="form-control allow-numbers-only" id="extra_leavedays_teamleader"
                                           v-model="editedUserLeave.extra_leavedays_teamleader"
                                           :placeholder="$t('total.extra_leave_days_teamleader')"
                                    >
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label">{{$t('total.public_holidays')}}</label>
                                    <div class="checkbox" v-for="publicHolidayItem in publicHolidays">
                                        <label >
                                            <input type="checkbox" v-if="editedUserLeave.public_holiday_ids" :value="publicHolidayItem.id" @click="clickPublicHolidayCheckbox" :checked="editedUserLeave.public_holiday_ids.indexOf(publicHolidayItem.id)!=-1">
                                            <input type="checkbox" v-if="!editedUserLeave.public_holiday_ids" :value="publicHolidayItem.id" @click="clickPublicHolidayCheckbox" checked>
                                           {{publicHolidayItem.name}}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-md-1">
                                    <label class="control-label">Old Overtime</label>
                                    <vue-timepicker v-model="editedUserLeave.old_overtime" :minute-interval="10" format="HH:mm" ></vue-timepicker>
                                </div>
                                <div class="form-group col-md-1">
                                    <label class="control-label">Year</label>
                                    <select v-model="editedUserLeave.year" name="year" class="form-control">
                                        <option v-for="year in this.years"
                                                :value="year">{{year}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="button" :disabled="editedUserLeave.year == ''" @click="UpdateUserLeave()" class="btn btn-primary" v-if="editedUserLeave.id">{{$t('total.save_changes')}}</button>
                        <button type="button" :disabled="editedUserLeave.year == ''" @click="CreateUserLeave()" class="btn btn-primary" v-if="!editedUserLeave.id">{{$t('total.save')}}</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</template>

<script>
    import http from '../../../mixins/http';
    import helpers from '../../../mixins/helpers';
    import alertifyAlerts from '../../../mixins/alertify-alerts';
    import alertifyConfirms from '../../../mixins/alertify-confirms';

    export default {
        mixins: [http, alertifyAlerts, alertifyConfirms, helpers],
        name: "set-leavedays",
        data: function () {
            return {
                user: JSON.parse(localStorage.getItem('logged-user')),
                pageNum: 1,
                yearChosen: '',
                years: [],
                thisYear: new Date(),
                usersLeave: {},
                usersList: [],
                UsersChosen: [],
                usersListSelection: [],
                dataPost: {},
                editedUserLeave: {
                    public_holiday_ids: '',
                    old_overtime:{
                        HH: "00",
                        mm: "00",
                    },
                },
                publicHolidays: {},
                activePublicHolidayIds: [],
                notActivePublicHolidayIds: []
            }
        },

        created: function () {
            this.$eventGlobal.$on('update-user-profile', (data) => {
                this.user = data;
            });

            this.httpGet('/api/admin/get-leavedays?year=' + this.thisYear.getFullYear() + '&nextYear=' + (this.thisYear.getFullYear()+1))
                .then(data => {
                    this.years = data.years;
                    this.usersLeave = data.usersLeave;
                    this.publicHolidays = data.publicHolidays;
                    this.usersListSelection = this.getAllUsersList(data.usersList);
                })
                .catch(err => {
                    console.log('err', err);
                });
        },

        watch: {

            'yearChosen': function(newVal) {
                this.yearChosen = newVal;
                this.setDataPost();
                this.httpPost('/api/admin/users-leave-filters', this.dataPost)
                    .then(data => {
                        this.usersLeave = data.usersLeave;
                        this.publicHolidays = data.publicHolidays;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            'usersList': function(newVal) {
                this.UsersChosen = this.composeSelectedUsers(newVal);
                console.log('this.UsersChosen', this.UsersChosen);
                this.setDataPost();
                this.httpPost('/api/admin/users-leave-filters', this.dataPost)
                    .then(data => {
                        this.usersLeave = data.usersLeave;
                        this.publicHolidays = data.publicHolidays;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },
        },

        methods: {

            setDataPost: function(){
                this.dataPost.year = this.yearChosen;
                this.dataPost.nextYear = this.yearChosen+1;
                this.dataPost.users = this.UsersChosen;
            },

            usersLeavePageChanged: function(pageNumber){
                this.setDataPost();
                this.pageNum = pageNumber;
                this.httpPost('/api/admin/users-leave-filters?page=' + this.pageNum, this.dataPost)
                    .then(data => {
                        this.usersLeave = data.usersLeave;
                        this.publicHolidays = data.publicHolidays;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            composeSelectedUsers: function(selUsers) {
                let tempUsers = [];
                selUsers.forEach(function(item, i){
                    tempUsers[i] = item.value;
                });
                return tempUsers;
            },

            getAllUsersList: function(users) {
                let tempUsers = [];
                users.forEach(function(item, i){
                    tempUsers[i] = {
                        value: item.id,
                        label: item.name + ' ' + item.surname
                    }
                });
                return tempUsers;
            },

            showEditLeaveModal: function (usersLeave) {
                this.editedUserLeave = JSON.parse(JSON.stringify(usersLeave));
                if (!this.editedUserLeave.year) {
                    this.editedUserLeave.year = this.yearChosen;
                }
                if (this.editedUserLeave.old_overtime !== null) {
                    this.editedUserLeave['old_overtime'] = {
                        HH: usersLeave.old_overtime.split(':')[0],
                        mm: usersLeave.old_overtime.split(':')[1]
                    };
                }else {
                    this.editedUserLeave['old_overtime'] = {
                        HH: "00",
                        mm: "00",
                    };
                }
                this.activePublicHolidayIds = [];
                this.notActivePublicHolidayIds = [];
                $('#user_leave_modal').modal('show');
            },

            UpdateUserLeave: function() {
                this.setDataPost();

                moment(this.editedUserLeave.old_overtime).format('h:mm:ss');
                let leave = JSON.parse(JSON.stringify(this.editedUserLeave));

                leave.old_overtime = leave.old_overtime.HH + ':' + leave.old_overtime.mm + ':00';
                this.dataPost.userLeave = leave;
                this.dataPost.activePublicHolidayIds = this.activePublicHolidayIds;
                this.dataPost.notActivePublicHolidayIds = this.notActivePublicHolidayIds;
                this.httpPost('/api/admin/update-user-leave?page=' + this.pageNum, this.dataPost)
                    .then(data => {
                        this.usersLeave = data.usersLeave;
                        this.publicHolidays = data.publicHolidays;
                        $('#user_leave_modal').modal('hide');

                        let text = this.$i18n.t('total.leavedays_for');
                        let text_end = this.$i18n.t('total.updated');

                        alertify.success(text + ' ' + this.editedUserLeave.name + ' ' + this.editedUserLeave.surname + text_end);
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            clickPublicHolidayCheckbox: function($event){
                let position;
                if ($event.target.checked && (this.activePublicHolidayIds.indexOf($event.target.value) == -1)) {
                    this.activePublicHolidayIds.push($event.target.value);
                    position = this.notActivePublicHolidayIds.indexOf($event.target.value);
                    if (position != -1) {
                        this.notActivePublicHolidayIds.splice(position, 1);
                    }
                }
                else if (!$event.target.checked && (this.notActivePublicHolidayIds.indexOf($event.target.value) == -1)) {
                    this.notActivePublicHolidayIds.push($event.target.value);
                    position = this.activePublicHolidayIds.indexOf($event.target.value);
                    if (position != -1) {
                        this.activePublicHolidayIds.splice(position, 1);
                    }
                }
            },

            CreateUserLeave: function(){
                this.setDataPost();
                moment(this.editedUserLeave.old_overtime).format('h:mm:ss');
                let leave = JSON.parse(JSON.stringify(this.editedUserLeave));

                leave.old_overtime = leave.old_overtime.HH + ':' + leave.old_overtime.mm + ':00';

                this.dataPost.userLeave = leave;
                this.dataPost.activePublicHolidayIds = this.activePublicHolidayIds;
                this.dataPost.notActivePublicHolidayIds = this.notActivePublicHolidayIds;
                if (!leave.public_holiday_ids) {
                    $.each(this.publicHolidays, (key, value)=>{
                        let id = ''+value.id;
                        if (this.notActivePublicHolidayIds.indexOf(id) === -1 && this.activePublicHolidayIds.indexOf(id) === -1 ) {
                            this.activePublicHolidayIds.push(''+value.id);
                        }
                    });
                }
                this.httpPost('/api/admin/create-user-leave?page=' + this.pageNum, this.dataPost)
                    .then(data => {
                        this.usersLeave = data.usersLeave;
                        this.publicHolidays = data.publicHolidays;
                        $('#user_leave_modal').modal('hide');

                        let text = this.$i18n.t('total.leavedays_for');
                        let text_end = this.$i18n.t('total.updated');

                        alertify.success(text + ' ' + this.editedUserLeave.name + ' ' + this.editedUserLeave.surname + text_end);
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            clickCopyCurYearToNextYear: function() {
                let confirm = this.$i18n.t('total.please_confirm');
                let text = this.$i18n.t('total.user_leaves_copy');
                alertifyConfirms.confirmSuccess(confirm, text, this.CopyCurYearToNextYear);

            },

            CopyCurYearToNextYear:function() {
                this.setDataPost();
                this.httpPost('/api/admin/copy-year-next-year', this.dataPost)
                    .then(data => {
                        if(data == 'Already copied') {

                            let sorry = this.$i18n.t('total.sorry');
                            let text = this.$i18n.t('total.users_leaves_already_copied');
                            alertifyAlerts.alertWarning(sorry, text);

                            return;
                        }
                        this.usersLeave = data.usersLeave;
                        this.publicHolidays = data.publicHolidays;
                        this.years = data.years;
                        $('#user_leave_modal').modal('hide');

                        let text = this.$i18n.t('total.copied_year');
                        alertify.success(text);
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            }
        },

        mounted: function() {
            this.yearChosen = this.thisYear.getFullYear();
            helpers.allowNumbersOnly();
        }
    }
</script>

<style scoped>

</style>