<template>
    <div>
        <section class="content-header">

        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">

                <sub-menu-header></sub-menu-header>
                <div class="col-sm-12">
                    <h1>
                        {{$t('total.users')}}
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>
                            <h3 class="box-title">{{$t('total.users')}}</h3>

                            <div class="box-tools">
                                <div class="users-tools">
                                    <div class="users-show">
                                        <div>
                                        <ul class="list-inline" >
                                            <li>Show:</li>
                                            <li class="br-1">
                                                <a href="javascript:void(0)" @click="showMoreUsers(15)">15</a>
                                            </li>
                                            <li class="br-1"><a href="javascript:void(0)" @click="showMoreUsers(50)">50</a></li>
                                            <li class="br-1"><a href="javascript:void(0)" @click="showMoreUsers(100)">100</a></li>
                                            <li><a href="javascript:void(0)" @click="showMoreUsers(250)">250</a></li>
                                        </ul>
                                        </div>
                                    </div>
                                    <pagination :records="parseInt(users.total)" :per-page="quantityUser" @paginate="usersPageChanged" class="users-page"></pagination>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row form-horizontal">
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" v-model="activeUsers" >
                                                            {{$t('total.active_users')}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">{{$t('total.users')}}:</label>
                                                <div class="col-md-8 vselect">
                                                    <v-select multiple v-model="usersSelected" :options="usersListSelection"></v-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">{{$t('total.supervisor')}}:</label>
                                                <div class="col-md-8 vselect">
                                                    <v-select multiple v-model="supervisorsSelected" :options="supervisors"></v-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">{{$t('total.years')}}:</label>
                                                <div class="col-md-8 vselect">
                                                    <select v-model="yearChosen" name="year" class="form-control">
                                                        <option v-for="year in this.years"
                                                                :value="year">{{year}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <button class="btn btn-primary" @click="showAddUserModal()"><i class="fa fa-plus"></i> {{$t('total.add_user')}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <table class="table table-bordered table-striped table-users">
                                        <thead>
                                        <tr>
                                            <th>
                                                ID
                                                <span class="pull-right">
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('id', 'asc')" title="Sort by ASC" class="text-red" id="sort-asc-id">
                                                        <i class="fa fa-long-arrow-up"></i>
                                                    </a>
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('id', 'desc')"  title="Sort by DESC" id="sort-desc-id">
                                                        <i class="fa fa-long-arrow-down"></i>
                                                    </a>
                                                </span>
                                            </th>
                                            <th>
                                                {{$t('total.user')}}
                                                <span class="pull-right">
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('name', 'asc')" title="Sort by ASC" id="sort-asc-name">
                                                        <i class="fa fa-long-arrow-up"></i>
                                                    </a>
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('name', 'desc')"  title="Sort by DESC" id="sort-desc-name">
                                                        <i class="fa fa-long-arrow-down"></i>
                                                    </a>
                                                </span>
                                            </th>
                                            <th>
                                                Email
                                                <span class="pull-right">
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('email', 'asc')" title="Sort by ASC" id="sort-asc-email">
                                                        <i class="fa fa-long-arrow-up"></i>
                                                    </a>
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('email', 'desc')"  title="Sort by DESC" id="sort-desc-email">
                                                        <i class="fa fa-long-arrow-down"></i>
                                                    </a>
                                                </span>
                                            </th>
                                            <th>
                                                {{$t('total.role')}}
                                                <span class="pull-right">
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('role', 'asc')" title="Sort by ASC" id="sort-asc-role">
                                                        <i class="fa fa-long-arrow-up"></i>
                                                    </a>
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('role', 'desc')"  title="Sort by DESC" id="sort-desc-role">
                                                        <i class="fa fa-long-arrow-down"></i>
                                                    </a>
                                                </span>
                                            </th>
                                            <th>
                                                {{$t('total.default_leavedays')}}
                                                <span class="pull-right">
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('default_leavedays', 'asc')" title="Sort by ASC" id="sort-asc-default_leavedays">
                                                        <i class="fa fa-long-arrow-up"></i>
                                                    </a>
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('default_leavedays', 'desc')"  title="Sort by DESC" id="sort-desc-default_leavedays">
                                                        <i class="fa fa-long-arrow-down"></i>
                                                    </a>
                                                </span>
                                            </th>
                                            <th>
                                                {{$t('total.leave_hours')}}
                                                <span class="pull-right">
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('default_leavehours', 'asc')" title="Sort by ASC" id="sort-asc-default_leavehours">
                                                        <i class="fa fa-long-arrow-up"></i>
                                                    </a>
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('default_leavehours', 'desc')"  title="Sort by DESC" id="sort-desc-default_leavehours">
                                                        <i class="fa fa-long-arrow-down"></i>
                                                    </a>
                                                </span>
                                            </th>
                                            <th>
                                                {{$t('total.extra_leave_days')}}
                                                <span class="pull-right">
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('extra_leavedays', 'asc')" title="Sort by ASC" id="sort-asc-extra_leavedays">
                                                        <i class="fa fa-long-arrow-up"></i>
                                                    </a>
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('extra_leavedays', 'desc')"  title="Sort by DESC" id="sort-desc-extra_leavedays">
                                                        <i class="fa fa-long-arrow-down"></i>
                                                    </a>
                                                </span>
                                            </th>
                                            <th>
                                                {{$t('total.extra_leave_days_teamleader')}}
                                                <span class="pull-right">
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('extra_leavedays_teamleader', 'asc')" title="Sort by ASC" id="sort-asc-extra_leavedays_teamleader">
                                                        <i class="fa fa-long-arrow-up"></i>
                                                    </a>
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('extra_leavedays_teamleader', 'desc')"  title="Sort by DESC" id="sort-desc-extra_leavedays_teamleader">
                                                        <i class="fa fa-long-arrow-down"></i>
                                                    </a>
                                                </span>
                                            </th>
                                            <th>
                                                {{$t('total.public_holidays')}}
                                            </th>
                                            <th>
                                                {{$t('total.old_overtime')}}
                                                <span class="pull-right">
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('old_overtime', 'asc')" title="Sort by ASC" id="sort-asc-old_overtime">
                                                        <i class="fa fa-long-arrow-up"></i>
                                                    </a>
                                                    <a href="javascript:void(0)" @click="showUsersWithSort('old_overtime', 'desc')"  title="Sort by DESC" id="sort-desc-old_overtime">
                                                        <i class="fa fa-long-arrow-down"></i>
                                                    </a>
                                                </span>
                                            </th>
                                            <th>
                                                {{$t('total.year')}}
                                            </th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="userItem in users.data">
                                            <td>{{userItem.id}}</td>
                                            <td>{{userItem.name}} {{userItem.surname}}</td>
                                            <td>{{userItem.email}}</td>
                                            <td>{{userItem.roleName}}</td>
                                            <td>{{userItem.default_leavedays}}</td>
                                            <td>{{userItem.default_leavehours}}</td>
                                            <td>{{userItem.extra_leavedays}}</td>
                                            <td>{{userItem.extra_leavedays_teamleader}}</td>
                                            <td>{{userItem.user_public_holidays.length}}</td>
                                            <td>{{userItem.old_overtime}}</td>
                                            <td>{{yearChosen}}</td>
                                            <td>
                                                <a href="javascript:void(0)" @click="showEditModal(userItem)" >{{$t('total.edit')}}</a>
                                                <a href="javascript:void(0)" @click="showRemoveModal(userItem)" >{{$t('total.remove')}}</a>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="edit-user">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" v-if="!editedUser.id">{{$t('total.add_user')}}</h4>
                        <h4 class="modal-title" v-if="editedUser.id">{{$t('total.edit_user')}}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                    </div>
                    <div class="form-horizontal">
                        <div class="modal-body">
                            <user-profile-pop-up @userAdded="updateUserList()" @onUpdateUser="updateUser" :editedUser="editedUser"></user-profile-pop-up>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </div>
</template>

<script>
    import http from '../../../mixins/http';
    import alertifyAlerts from '../../../mixins/alertify-alerts';
    import alertifyConfirms from '../../../mixins/alertify-confirms';
    import helpers from '../../../mixins/helpers';

    require('../../../../../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker');
    require('../../../../../../bower_components/bootstrap-daterangepicker/daterangepicker');
    export default {
        mixins: [http, alertifyAlerts, alertifyConfirms, helpers],
        name: "users",
        data: function () {
            return {
                user: JSON.parse(localStorage.getItem('logged-user')),
                activeUsers: true,
                thisYear: new Date(),
                yearChosen: '',
                activeUserChosen: '',
                UsersChosen: [],
                supervisorsChosen: [],
                supervisorsSelected: [],
                usersSelected: [],
                years: [],
                users: [],
                supervisors: [],
                supervisorsModal: [],
                usersListSelection: [],
                selectedSupers: [],
                selectedUsers: [],
                dataPost: {},
                editedUser: {},
                pageNum: 1,
                quantityUser: 15,
                sortName: 'id',
                sortParam: 'ASC',
            }
        },

        created: function () {
            this.$eventGlobal.$on('update-user-profile', (data) => {
                this.user = data;
            });
            this.httpGet('/api/admin/users?year=' + this.thisYear.getFullYear() + '&nextYear=' + (this.thisYear.getFullYear()+1)
                + '&activeUser=' + 1  + '&quantityUser=' + this.quantityUser+ '&sortName=' + this.sortName+ '&sortParam=' + this.sortParam)
                .then(data => {
                    this.years = data.years;
                    this.users = data.users;
                    this.supervisors = this.getAllSupervisors(data.supervisors);
                    this.supervisorsModal = this.getAllSupervisors(data.supervisorsModal);
                    this.usersListSelection = this.getAllUsersList(data.usersList);
                })
                .catch(err => {
                    console.log('err', err);
                });
        },

        watch: {
            'yearChosen': function(newVal) {
                this.yearChosen = newVal;
                this.setDataPost();
                this.httpPost('/api/admin/users-filters', this.dataPost)
                    .then(data => {
                        this.users = data.users;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            'usersSelected': function(newVal) {
                this.UsersChosen = this.composeSelectedUsers(newVal);
                this.setDataPost();
                this.httpPost('/api/admin/users-filters', this.dataPost)
                    .then(data => {
                        this.users = data.users;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });

            },

            'supervisorsSelected': function(newVal) {
                this.supervisorsChosen = this.composeSelectedSupervisors(newVal);
                this.setDataPost();
                this.httpPost('/api/admin/users-filters', this.dataPost)
                    .then(data => {
                        this.users = data.users;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            'activeUsers': function(newVal) {
                if(newVal){
                    this.activeUserChosen = 1;
                }else{
                    this.activeUserChosen = 0;
                }
                this.setDataPost();
                this.httpPost('/api/admin/users-filters', this.dataPost)
                    .then(data => {
                        this.users = data.users;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },
        },

        methods: {

            usersPageChanged: function(pageNumber){
                this.setDataPost();
                this.pageNum = pageNumber;
                this.httpPost('/api/admin/users-filters?page=' + pageNumber, this.dataPost)
                    .then(data => {
                        this.users = data.users;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            getAllSupervisors: function(supervisors) {
                let tempSupervisors = [];
                supervisors.forEach(function(item, i){
                    tempSupervisors[i] = {
                        value: item.id,
                        label: item.name + ' ' + item.surname
                    }
                });
                return tempSupervisors;
            },

            composeSelectedSupervisors: function(selectedSupervisor) {
                let tempSupervisors = [];
                selectedSupervisor.forEach(function(item, i){
                    tempSupervisors[i] = item.value;
                });
                return tempSupervisors;
            },

            getAllUsersList: function(users) {
                let tempUsers = [];
                users.forEach(function(item, i){
                    tempUsers[i] = {
                        value: item.id,
                        label: item.name + ' ' + item.surname
                    }
                });
                return tempUsers;
            },

            composeSelectedUsers: function(selUsers) {
                let tempUsers = [];
                selUsers.forEach(function(item, i){
                    tempUsers[i] = item.value;
                });
                return tempUsers;
            },

            setDataPost: function(){
                this.dataPost.year = this.yearChosen;
                this.dataPost.nextYear = this.yearChosen+1;
                this.dataPost.activeUser = this.activeUserChosen;
                this.dataPost.supervisor = this.supervisorsChosen;
                this.dataPost.users = this.UsersChosen;
                this.dataPost.quantityUser = this.quantityUser;
                this.dataPost.sortName = this.sortName;
                this.dataPost.sortParam = this.sortParam;
            },

            showRemoveModal: function (user) {
                this.editedUser = user;
                let confirm = this.$i18n.t('total.please_confirm');
                let text = this.$i18n.t('total.remove_user');
                alertifyConfirms.confirmSuccess(confirm, text, this.removeUser);
            },

            removeUser: function (){
                this.setDataPost();
                this.dataPost.deleteUserId = this.editedUser.id;
                this.httpPost('/api/admin/delete-user?page='  + this.pageNum, this.dataPost)
                    .then(data => {
                        this.users = data.users;
                        this.supervisorsModal = this.getAllSupervisors(data.supervisorsModal);
                        this.usersListSelection = this.getAllUsersList(this.users.data);
                        let text = this.$i18n.t('total.user_removed');
                        alertify.success(text);
                    });
            },

            showEditModal: function (user) {
                this.editedUser = JSON.parse(JSON.stringify(user));
                this.editedUser.supervisors = this.supervisorsModal;
                this.editedUser.listUsers = true;
                $('#edit-user').modal('show');
            },

            updateUserList: function (){
                //when added user
                this.setDataPost();
                this.httpPost('/api/admin/users-filters', this.dataPost)
                    .then(data => {
                        this.users = data.users;
                        this.supervisorsModal = this.getAllSupervisors(data.supervisorsModal);
                        this.usersListSelection = this.getAllUsersList(this.users.data);
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            updateUser: function (user) {
                let userToUpdate = JSON.parse(JSON.stringify(user));
                delete userToUpdate['avatar'];
                this.setDataPost();
                this.dataPost.userProfile = userToUpdate;

                this.httpPut('/api/admin/update-user-profile?page=' + this.pageNum, this.dataPost)
                    .then(data => {
                        this.users = data.users;
                        this.supervisors =  this.getAllSupervisors(data.supervisors);
                        this.usersListSelection = this.getAllUsersList(this.users.data);

                        $('#edit-user').modal('hide');
                        let start = this.$i18n.t('total.profile_of');
                        let text = this.$i18n.t('total.updated');
                        alertify.success(start + ' '+ userToUpdate.name + ' ' + userToUpdate.surname +' ' + text);
                    })
                    .catch(err =>{
                        console.log('err', err);
                        alertify.error(err.data.message);
                    })
            },

            showAddUserModal: function(){
                this.resetForm();
                $('#edit-user').modal('show');
            },

            resetForm: function () {
                this.editedUser = {
                    name: '',
                    surname: '',
                    children: [],
                    birth_date: '',
                    marital_status_since: '',
                    partner_birth_date: '',
                    recruitment: '',
                    supervisors: this.supervisors,
                    listUsers: true,
                    nationality: 'BE',
                    country: 'BE',
                }
            },

            showMoreUsers: function (quantity) {
                this.quantityUser = quantity;
                this.setDataPost();
                this.httpPost('/api/admin/users-filters?page=' + 1, this.dataPost)
                    .then(data => {
                        this.users = data.users;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            showUsersWithSort: function (sortName, sortParam) {
                $('.text-red').removeClass('text-red');
                $('#sort-'+sortParam+'-'+sortName).addClass('text-red');
                this.sortName = sortName;
                this.sortParam = sortParam;
                this.setDataPost();
                this.httpPost('/api/admin/users-filters?page=' + 1, this.dataPost)
                    .then(data => {
                        this.users = data.users;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            }
        },


        mounted:function () {
            this.yearChosen = this.thisYear.getFullYear();
            this.activeUserChosen = 1;
            helpers.allowNumbersOnly();
        }
    }
</script>

<style scoped>

</style>