<template>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">

        </div>
        <strong>Copyright &copy; 2018 <a href="#">Sporta-leave</a>.</strong> All rights
        reserved.
    </footer>
</template>

<script>
    export default {
        name: "main-footer"
    }
</script>

<style scoped>

</style>