<template>
    <header class="main-header">
        <!-- Logo -->
        <router-link class="logo" to="/dashboard">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>Relax4you2</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Relax4you2</b></span>
        </router-link>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="messages-menu" v-for="lang in listLanguages">
                        <a class="text-uppercase" href="javascript:void(0)" @click="changeLang(lang.code)" v-show="selectedLang != lang.code">
                            {{lang.code}}
                        </a>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img :src="user.avatar" class="user-image" alt="User Image">
                            <span class="hidden-xs"> {{user.surname}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img :src="user.avatar" class="img-circle" alt="User Image">

                                <p>
                                     {{user.name}}
                                    <!--<small>Member since </small>-->
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <router-link to="/user/profile" class="btn btn-default btn-flat">{{$t('total.profile')}}</router-link>
                                </div>
                                <div class="pull-right">
                                    <a  class="btn btn-default btn-flat" @click="doLogOut()">{{$t('total.sign_out')}}</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</template>

<script>
    import http from '../../mixins/http';
    import AuthService from '../../services/auth-service';
    import alertifyConfirms from '../../mixins/alertify-confirms';

    export default {
        mixins: [http, alertifyConfirms],
        data: function () {

            return {
                user: {},
                selectedLang: '',
                listLanguages: {}
            }
        },
        created: function () {
            this.$eventGlobal.$on('update-user-profile', (data) => {
                this.user = data;
                this.$i18n.locale = this.user.default_lang;
                this.selectedLang = this.user.default_lang;
            });

            this.httpGet('/api/get-languages')
                .then(data => {
                    this.listLanguages = data.data;
                })
                .catch(err => {
                    console.log('err', err);
                });
        },
        methods: {
            doLogOut: function() {
                let confirm = this.$i18n.t('total.please_confirm');
                let text = this.$i18n.t('total.want_to_logout');
                alertifyConfirms.confirmWarning(confirm, text, AuthService.logout);
            },

            changeLang: function(lang) {
                this.$i18n.locale = lang;
                this.user.default_lang = lang;
                this.httpPost('/api/change-default-lang', this.user)
                    .then(data => {
                        this.user = data.data;
                        this.$eventGlobal.$emit('update-user-profile', data.data);
                    })
            }
        }
    }
</script>

<style scoped>

</style>