<template>
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img :src="user.avatar" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p><router-link to="/user/profile">{{user.name}}</router-link></p>
                    <router-link to="/user/profile"><i class="fa fa-circle text-success"></i> Online</router-link>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header text-uppercase">{{ $t('total.main_navigation')}}</li>
                <li class="treeview treeview-user" :class="{ 'active': $route.path === '/customers' || $route.path.indexOf('/user/') != -1 }">
                    <router-link tag="a" to="/customers" active-class="active">
                        <i class="fa fa-circle-o  text-green"></i>{{ $t('total.customers')}}
                    </router-link>
                </li>
                <li class="treeview treeview-user" :class="{ 'active': $route.path === '/rooms' || $route.path.indexOf('/user/') != -1 }">
                    <router-link tag="a" to="/rooms" active-class="active">
                        <i class="fa fa-circle-o  text-green"></i>{{ $t('total.rooms')}}
                    </router-link>
                </li>
                <li  class="treeview treeview-configurations" :class="{ 'menu-open active': $route.path.indexOf('/configurations') != -1 }">
                    <a href="#">
                        <i class="fa fa-cogs"></i>
                        <span>{{ $t('total.configurations')}}</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right "></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" :style="{ display: $route.path.indexOf('/configurations') != -1 ? 'block' : 'none' }">
                        <router-link tag="li" to="/configurations/translate" active-class="active">
                            <a><i class="fa fa-circle-o  text-yellow"></i>{{ $t('total.menu_translate')}}</a>
                        </router-link>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
</template>

<script>
    export default {
        data: function () {
            return {
                user: {}
            }
        },
        created: function () {
            this.$eventGlobal.$on('update-user-profile', (data) => {
                this.user = data;
            });
        }
    }
</script>

<style scoped>

</style>