<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button @click="modalClosed" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <slot name="header"></slot>
                </div>
                <div class="modal-body">
                    <slot name="body"></slot>
                </div>
                <div class="modal-footer">
                    <button @click="modalClosed" type="button" class="btn btn-default pull-left" data-dismiss="modal">{{ $t('total.close')}}</button>
                    <slot name="footer"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Modal",
        props: {
            modalId: String,
            isShow: Boolean
        },
        data: function () {
            return {
            }
        },
        mounted() {
            $(`#${this.modalId}`).on('show.bs.modal', () => {
                this.modalOpened();
            });
            $(`#${this.modalId}`).on('hide.bs.modal', () => {
                this.modalClosed();
            });
        },
        watch: {
            isShow: function (value) {
                if (value) {
                    this.showModal();
                } else {
                    this.closeModal();
                }
            }
        },
        methods: {
            showModal() {
                $(`#${this.modalId}`).modal('show');
            },
            closeModal() {
                $(`#${this.modalId}`).modal('hide');
            },
            modalOpened() {
                this.$emit('opened');
            },
            modalClosed() {
                this.$emit('closed');
            }
        }
    }
</script>