<template>
    <div class="col-md-12">
        <div class="page-header">
            <div class="btn-group">
                <router-link to="/configurations/translate" class="small-box-footer btn bg-yellow" active-class="bg-yellow-active">{{ $t('total.menu_translate')}}</router-link>
            </div>
        </div>
    </div>
</template>

<script>


    export default {
        name: "sub-menu-header",
        data: function () {

            return {
                user: JSON.parse(localStorage.getItem('logged-user')),
            }
        },
        created: function () {
            this.$eventGlobal.$on('update-user-profile', (data) => {
                this.user = data;
            });
        },

        methods: {


        }
    }
</script>

<style scoped>

</style>