/* You can add global styles to this file, and also import other style files */
.pr-5 {
    padding-right: 5px;
}
.pl-5 {
    padding-left: 5px;
}
.pr-10 {
    padding-right: 10px;
}
.pl-10 {
    padding-left: 10px;
}
.mt-40 {
    margin-top: 40px;
}
.fs-07 {
    font-size: 0.7em;
}
.grey-checkbox span.remember_text {
    border: none;
    color: #aaafb5;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    margin-left: 5px;
    padding: 0;
}

.grey-checkbox label input {
    display: none;
}

.grey-checkbox label span {
    border: 1px solid #d2d6de;
    padding: 9px;
    display: inline-block;
    position: relative;
    border-radius: 0px;
    margin-top: 2px;
    float: left;
    cursor: pointer;
}

.grey-checkbox [type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    font-size: 14px;
    top: 0;
    left: 3px;
    color: #2488c5;
}

.login-box, .register-box {
    width: 360px;
    margin: 0 auto 7%;
    padding-top: 7%;
}


.sk-circle {
    margin: 100px auto;
    width: 100px;
    height: 100px;
    position: relative;
}
.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #3c8cbc;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg); }
.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg); }
.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg); }
.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg); }
.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg); }
.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg); }
.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg); }
.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
}

@keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
}

.sk-circle {
    margin: 0;
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    z-index: 99999;
}


.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.fileContainer {
    background: #3c8dbc;
    border-radius: 0px;
    float: left;
    padding: .5em;
    border: 1px solid #367fa9;
    color: #fff;
}
.fileContainer:hover {
    background-color: #367fa9;
}
.fileContainer [type=file] {
    cursor: pointer;
}

.fileContainerWrapper {
    text-align: center;
}

.fileContainerBox {
    display: inline-block;
}

/*Pagination on user home page*/

.VuePagination__count {
    display: none;
}
.pagination {
    margin: 0px;
}
.pagination>li>a, .pagination>li>span {
    padding: 3px 8px;
}
.pagination>li.VuePagination__pagination-item-prev-chunk {
    display: none;
}
.pagination>li.VuePagination__pagination-item-next-chunk {
    display: none;
}

.time-picker{
    width: 100% !important;
}

.form-group .time-picker input.display-time{
    width: 100% !important;
    padding: 6px 12px;
    font-size: 1em;
    color: #555;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-color: #d2d6de;
    height: 34px;
    line-height: 34px;
}

table.leave-type-overview-table  table tr:first-child > td{
    font-size: 1.1em;
    font-weight: 600;
}
.alertify-notifier .ajs-message.ajs-success{
    text-shadow: none;
}

/* absences overview page */

.select-date a {
    font-weight: 600;
}
.select-date a:hover,
.select-date a:active {
    cursor: pointer;
    color: #406B9D;
    text-decoration: none;
}
.select-date i {
    font-weight: bold;
}

/*admin users*/
.vselect .v-select .dropdown-toggle{
    border-color: rgb(210, 214, 222);
    border-radius: 0px;
}
.vselect .v-select input[type=search], .v-select input[type=search]:focus{
    height: 32px;
}
/*user profile pop up*/
@media (min-width: 768px) {
    .modal-lg {
        width: 80%;
    }
}
@media (max-width: 767px) {
    .modal-lg {
        width: 100%;
    }
}

.ajs-modal .ajs-header h3{
    margin: 0;
}

.ajs-modal .ajs-header h3.text-warning{
    color: #d58512;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary .ajs-button{
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.3333333;
    color: #fff;
    outline: none;
}

.alertify.success-confirm-modal .ajs-footer .ajs-buttons.ajs-primary .ajs-button,
.alertify.success-alert-modal .ajs-footer .ajs-buttons.ajs-primary .ajs-button{
    background-color: #449d44;
    border-color: #398439;
}

.alertify.warning-confirm-modal .ajs-footer .ajs-buttons.ajs-primary .ajs-button,
.alertify.warning-alert-modal .ajs-footer .ajs-buttons.ajs-primary .ajs-button{
    background-color: #ec971f;
    border-color: #d58512;
}

.alertify.danger-confirm-modal .ajs-footer .ajs-buttons.ajs-primary .ajs-button,
.alertify.danger-alert-modal .ajs-footer .ajs-buttons.ajs-primary .ajs-button{
    background-color: #dd4b39;
    border-color: #d73925;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary .ajs-button.ajs-cancel{
     background-color: #f4f4f4;
     color: #444;
     border-color: #ddd;
 }

.skin-blue .sidebar-menu > li.treeview-user.active > a {
    border-left-color: #00a65a;
}
.skin-blue .sidebar-menu > li.treeview-supervisor.active > a {
    border-left-color: #00acd6;
}
.skin-blue .sidebar-menu > li.treeview-admin.active > a {
    border-left-color: #605ca8;
}
.skin-blue .sidebar-menu > li.treeview-configurations.active > a {
    border-left-color: #f39c12;
}
.br-1 {
    border-right: 1px solid #ccc;
}
.users-tools .users-show{
    position: relative;
}
.users-tools .users-show,
.users-tools .users-page {
    display: inline-block;
}
.users-show div  {
    position: relative;
    min-width: 177px;
    font-size: 1.05em;
}
.users-show div ul {
    position: absolute;
    top: -20px;
}
.table-users thead span a{
    color: #d2d6de;
}
@media (max-width: 991px){
    .users-tools .users-show,
    .users-tools .users-page {
        display: block;
    }
    .users-show div ul {
        position: relative;
        top: 0px;
    }
}
