<template>
    <div>
        <section>
            <h1>
                <slot name="title">
                    {{ $t(`total.${entityName}`) }}
                </slot>
            </h1>
        </section>
        <section>
            <div>
                <div class="box-tools">
                    <pagination :records="parseInt(entities.total)" :per-page="20" @paginate="entitiesPageChanged"></pagination>
                </div>
                <div>
                    <div class="head-actions">
                        <div class="form-group">
                            <button class="btn btn-primary form-control" @click="clickAdd()"><i class="fa fa-plus"></i> {{ $t(`total.add_${entityName}`) }}</button>
                        </div>
                        <div class="filter-actions">
                            <div v-for="field in entityFields.filterable" class="form-group">
                                <label class="control-label">{{ $t(`total.${field}`) }}</label>
                                <input
                                        class="form-control"
                                        :type="entityFieldsOptions[field].inputType"
                                        :name="field"
                                        @keyup="fetchFilter"
                                        v-model="filter[field]"
                                >
                            </div>
                        </div>
                    </div>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th v-for="(options, field) in entityFieldsOptions">
                                    {{ $t(`total.${field}`) }}
                                    <span v-if="options.sortable" class="pull-right">
                                        <a href="javascript:void(0)" @click="showEntitiesWithSort(field, 'asc')" title="Sort by ASC" class="text-red" :id="`sort-asc-${field}`">
                                            <i class="fa fa-long-arrow-up"></i>
                                        </a>
                                        <a href="javascript:void(0)" @click="showEntitiesWithSort(field, 'desc')"  title="Sort by DESC" :id="`sort-desc-${field}`">
                                            <i class="fa fa-long-arrow-down"></i>
                                        </a>
                                    </span>
                                </th>
                                <th>{{ $t('total.actions') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="entity in entities.data">
                                <td v-for="(options, field) in entityFieldsOptions">
                                    {{ entity[field] }}
                                </td>
                                <td>
                                    <div >
                                        <a href="javascript:void(0)" @click="clickEdit(entity)" :title="$t('total.edit')" class="btn btn-success btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="javascript:void(0)" @click="clickRemove(entity)" :title="$t('total.remove')" class="btn btn-danger btn-xs">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <modal
                    :modalId="`${entityName}_modal`"
                    :is-show="isModalOpened"
                    @closed="modalClose"
                    @opened="modalShow"
            >
                <template slot="header">
                    <h4 v-if="editedEntity.id" class="modal-title">{{ $t(`total.edit_${entityName}`) }}</h4>
                    <h4 v-else class="modal-title">{{ $t(`total.add_${entityName}`) }}</h4>
                </template>
                <template slot="body">
                    <div class="form-horizontal" >
                        <div v-for="field in entityFields.editable" class="form-group">
                            <label class="col-sm-3 control-label">{{ $t(`total.${field}`)}}</label>
                            <div class="col-sm-9">
                                <input
                                        :type="entityFieldsOptions[field].inputType"
                                        :name="field"
                                        :id="field"
                                        v-model="editedEntity[field]"
                                        class="form-control"
                                        :class="isValidField(field) ? '' : 'is-invalid'"
                                >
                            </div>
                        </div>
                    </div>
                </template>
                <template slot="footer">

                    <button v-if="editedEntity.id"
                            type="button"
                            class="btn btn-primary"
                            @click="updateEntity"
                    >
                        {{ $t('total.update')}}
                    </button>
                    <button v-else
                            type="button"
                            class="btn btn-primary"
                            @click="saveEntity"
                    >
                        {{ $t('total.save')}}
                    </button>
                </template>
            </modal>
        </section>
    </div>
</template>

<script>

    import http from '../../mixins/http';
    import alertifyAlerts from '../../mixins/alertify-alerts';
    import alertifyConfirms from '../../mixins/alertify-confirms';
    import helpers from '../../mixins/helpers';
    import Modal from '../layouts/modal.vue';

    export default {
        name: 'CRUDTable',

        mixins: [http, alertifyAlerts, alertifyConfirms],

        components: {
            Modal
        },

        props: {
            entityName: String,
            crudUrl: String,
            entityFieldsOptions: Object,
        },

        data: function () {
            return  {
                entities: {},
                pageNumber: 1,
                editedEntity: {},
                filter: {},
                entityFields: {
                    editable: [],
                    filterable: [],
                    sortable: [],
                },
                validationResult: {},
                isSuccessValidated: false,
                orderByField: 'id',
                orderByDirection: 'ASC',
                isModalOpened: false,
                filterFetcher: null
            }
        },

        created() {
            for (let field in this.entityFieldsOptions) {
                if (this.entityFieldsOptions[field].editable) {
                    this.editedEntity[field] = '';
                    this.entityFields.editable.push(field);
                }
                if (this.entityFieldsOptions[field].filterable) {
                    this.filter[field] = '';
                    this.entityFields.filterable.push(field);
                }
                if (this.entityFieldsOptions[field].sortable) {
                    this.entityFields.sortable.push(field);
                }
            }

            this.$eventGlobal.$on('update-user-profile', (data) => {
                this.user = data;
            });

            this.httpGet(this.crudUrl)
                .then(data => {
                    this.entities = data;
                })
                .catch(err => {
                    console.log('err', err);
                });
        },

        computed: {
        },

        methods: {
            modalShow() {
                this.isModalOpened = true;
            },

            modalClose() {
                this.isModalOpened = false;
            },

            entitiesPageChanged(pageNum) {
                this.pageNumber = pageNum;
                this.httpGet(`${this.crudUrl}?page=${pageNum}`)
                    .then(data => {
                        this.entities = data;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            clickAdd() {
                this.resetForm();
                this.modalShow();
            },

            validateEntity() {
                this.isSuccessValidated = true;
                let validation = {};
                for (let field of this.entityFields.editable) {
                    if (this.entityFieldsOptions[field].validation !== undefined) {
                        if (!this.entityFieldsOptions[field].validation(this.editedEntity[field])) {
                            validation[field] = false;
                            this.isSuccessValidated = false;
                        } else {
                            validation[field] = true;
                        }
                    }
                }
                this.validationResult = validation;
                return this.isSuccessValidated;
            },

            saveEntity() {
                if (!this.validateEntity()) {
                    return;
                }
                this.httpPost(`${this.crudUrl}${this.setGetParameters()}`, this.editedEntity)
                    .then(data => {
                        this.entities = data;
                        this.modalClose();
                        let text = this.$i18n.t(`total.${this.entityName}_added`);
                        alertify.success(text);
                        this.resetForm();
                    })
                    .catch(err => {
                        console.log('err', err);
                        alertify.error(err.data.message);
                        $.each(err.data.errors, (key, value)=>{
                            console.log('value', value);
                            alertify.error(value[0]);
                        });
                    });
            },

            clickEdit(entity) {
                this.editedEntity = {...entity};
                this.modalShow();
            },

            updateEntity() {
                if (!this.validateEntity()) {
                    return;
                }
                this.httpPost(`${this.crudUrl}/${this.editedEntity.id}/update${this.setGetParameters()}`, this.editedEntity)
                    .then(data => {
                        this.entities = data;
                        this.modalClose();
                        let text = this.$i18n.t(`total.${this.entityName}_edited`);
                        alertify.success(text);
                        this.resetForm();
                    })
                    .catch(err => {
                        console.log('err', err);
                        alertify.error(err.data.message);
                        $.each(err.data.errors, (key, value)=>{
                            console.log('value', value);
                            alertify.error(value[0]);
                        });
                    });
            },

            resetForm() {
                this.editedEntity = {};
                for (let field of this.entityFields.editable) {
                    this.editedEntity[field] = '';
                }
            },

            clickRemove: function (entity) {
                this.editedEntity = entity;
                let confirm = this.$i18n.t('total.please_confirm');
                let text = this.$i18n.t(`total.remove_${this.entityName}`);
                alertifyConfirms.confirmSuccess(confirm, text, this.removeEntity);
            },

            removeEntity() {
                this.httpDelete(`${this.crudUrl}/${this.editedEntity.id}/delete${this.setGetParameters()}`)
                    .then(data => {
                        this.entities = data;
                        let text = this.$i18n.t(`total.${this.entityName}_deleted`);
                        alertify.success(text);
                    })
                    .catch(err => {
                        console.log('err', err);
                        alertify.error(err.data.message);
                    });
            },

            showEntitiesWithSort(field, direction) {
                $('.text-red').removeClass('text-red');
                $(`#sort-${direction}-${field}`).addClass('text-red');
                this.orderByField = field;
                this.orderByDirection = direction;
                let urlParams = this.setGetParameters();
                this.httpGet(`${this.crudUrl}${urlParams}`)
                    .then(data => {
                        console.log('data', data);
                        this.entities = data;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            setGetParameters() {
                let urlParams = '';
                urlParams += `?page=${this.pageNumber}&order-by-field=${this.orderByField}&order-by-direction=${this.orderByDirection}`;
                for (let field in this.filter) {
                    if (this.filter[field] !== '') {
                        urlParams +=`&${field}=${this.filter[field]}`;
                    }
                }
                return urlParams;
            },

            fetchFilter() {
                if (this.filterFetcher) {
                    clearTimeout(this.filterFetcher);
                }
                this.filterFetcher = setTimeout(() => {
                    this.httpGet(`${this.crudUrl}${this.setGetParameters()}`)
                        .then(data => {
                            this.entities = data;
                        })
                        .catch(err => {
                            console.log('err', err);
                        });
                }, 500);
            },

            isValidField(field) {
                if (this.validationResult[field] !== undefined) {
                    return this.validationResult[field];
                } else {
                    return true;
                }
            }

        },

        mounted: function () {
            helpers.allowNumbersOnly();
        },
    }
</script>

<style>
    .head-actions {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
    }
    .filter-actions {
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
    }
    .is-invalid {
        border-color: #dc3545;
    }

</style>