<template>
    <div>
        <crud-table
                entity-name="customer"
                crud-url="/api/customers"
                :entity-fields-options="customerFields"
        >
            <template slot="title">
                {{ $t('total.customers') }}
            </template>
        </crud-table>
    </div>
</template>

<script>
    const customerFields = {
        id: {
            editable: false,
            filterable: false,
            sortable: true,
        },
        first_name: {
            editable: true,
            inputType: 'text',
            filterable: true,
            sortable: true
        },
        last_name: {
            editable: true,
            inputType: 'text',
            filterable: true,
            sortable: true
        },
        email: {
            editable: true,
            inputType: 'text',
            validation: function (email) {
                let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(email).toLowerCase());
            },
            filterable: true,
            sortable: true
        },
        address: {
            editable: true,
            inputType: 'text',
            filterable: true,
            sortable: true
        },
        phone: {
            editable: true,
            inputType: 'text',
            filterable: true,
            sortable: true
        },
        created_at: {
            editable: false,
            filterable: false,
            sortable: true
        }
    };

    import CrudTable from './CrudTable.vue';

    export default {
        name: "customers",
        data: function () {
            return {
                customerFields: customerFields,
            }
        },

        components: {
            CrudTable
        }
    }
</script>

<style scoped>

</style>