<template>
    <div>
        <section class="content-header">
            <h1>
                {{$t('total.customers')}}
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{$t('total.customers')}}</h3>
                            <div class="box-tools">
                                <pagination :records="parseInt(customers.total)" :per-page="20" @paginate="customersPageChanged"></pagination>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <button class="btn btn-primary" @click="clickAdd()"><i class="fa fa-plus"></i> {{$t('total.add_customer')}}</button>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ $t('total.first_name')}}</label>
                                        <div class="col-sm-9">
                                            <input type="text" v-on:keyup="daysKeyup('first_name')" v-model="filter.first_name" name="first_name"  class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ $t('total.last_name')}}</label>
                                        <div class="col-sm-9">
                                            <input type="text" v-on:keyup="daysKeyup('first_name')" v-model="filter.last_name" name="last_name"  class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ $t('total.email')}}</label>
                                        <div class="col-sm-9">
                                            <input type="text" v-model="filter.email" name="email"  class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ $t('total.mobile_phone')}}</label>
                                        <div class="col-sm-9">
                                            <input type="text" v-model="filter.phone" name="phone"  class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ $t('total.address')}}</label>
                                        <div class="col-sm-9">
                                            <input type="text" v-model="filter.address" name="address"  class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!--<h2 class="text-center" v-if="!customers.data || customers.data.length == 0">{{$t('total.no_data')}}</h2>-->
                                    <!--<table class="table table-bordered" v-if="customers.data && customers.data.length > 0">-->
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <th>
                                                {{ $t('total.customer_id')}}
                                                <span class="pull-right">
                                                    <a href="javascript:void(0)" @click="showCustomersWithSort('id', 'asc')" title="Sort by ASC" class="text-red" id="sort-asc-id">
                                                        <i class="fa fa-long-arrow-up"></i>
                                                    </a>
                                                    <a href="javascript:void(0)" @click="showCustomersWithSort('id', 'desc')"  title="Sort by DESC" id="sort-desc-id">
                                                        <i class="fa fa-long-arrow-down"></i>
                                                    </a>
                                                </span>
                                            </th>
                                            <th>
                                                {{ $t('total.first_name')}}
                                                <span class="pull-right">
                                                    <a href="javascript:void(0)" @click="showCustomersWithSort('first_name', 'asc')" title="Sort by ASC" id="sort-asc-first_name">
                                                        <i class="fa fa-long-arrow-up"></i>
                                                    </a>
                                                    <a href="javascript:void(0)" @click="showCustomersWithSort('first_name', 'desc')"  title="Sort by DESC" id="sort-desc-first_name">
                                                        <i class="fa fa-long-arrow-down"></i>
                                                    </a>
                                                </span>
                                            </th>
                                            <th>
                                                {{ $t('total.last_name')}}
                                                <span class="pull-right">
                                                    <a href="javascript:void(0)" @click="showCustomersWithSort('last_name', 'asc')" title="Sort by ASC" id="sort-asc-last_name">
                                                        <i class="fa fa-long-arrow-up"></i>
                                                    </a>
                                                    <a href="javascript:void(0)" @click="showCustomersWithSort('last_name', 'desc')"  title="Sort by DESC" id="sort-desc-last_name">
                                                        <i class="fa fa-long-arrow-down"></i>
                                                    </a>
                                                </span>
                                            </th>
                                            <th>{{ $t('total.email')}}</th>
                                            <th>{{ $t('total.mobile_phone')}}</th>
                                            <th>{{ $t('total.address')}}</th>
                                            <th>{{ $t('total.date_created')}}</th>
                                            <th></th>
                                        </tr>

                                        <tr v-for="customer in customers.data">
                                            <td>
                                                {{customer.id}}
                                            </td>
                                            <td>
                                                {{customer.first_name}}
                                            </td>
                                            <td>
                                                {{customer.last_name}}
                                            </td>
                                            <td>{{customer.email}}</td>
                                            <td>{{customer.phone}}</td>
                                            <td>{{customer.address}}</td>
                                            <td>{{customer.created_at}}</td>
                                            <td>
                                                <div >
                                                    <a href="javascript:void(0)" @click="clickEdit(customer)" :title="$t('total.edit')" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                                                    <a href="javascript:void(0)" @click="clickRemove(customer)" :title="$t('total.remove')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="customer_modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" v-if="!editedCustomer.id">{{ $t('total.add_customer')}}</h4>
                            <h4 class="modal-title" v-if="editedCustomer.id">{{ $t('total.edit_customer')}}</h4>
                        </div>
                        <div class="modal-body form-horizontal" >
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ $t('total.first_name')}}</label>
                                <div class="col-sm-9">
                                    <input type="text" v-model="editedCustomer.first_name" name="first_name" id="first_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ $t('total.last_name')}}</label>
                                <div class="col-sm-9">
                                    <input type="text" v-model="editedCustomer.last_name" name="last_name" id="last_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" :class="{'has-error': isInvalidEmail}">
                                <label class="col-sm-3 control-label">{{ $t('total.email')}}</label>
                                <div class="col-sm-9">
                                    <input type="email"
                                           name="email" id="email" class="form-control"
                                           v-model="editedCustomer.email"
                                           @change="isInvalidEmail = false"
                                    >
                                    <span class="help-block" v-if="isInvalidEmail">{{$t('total.valid_email')}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ $t('total.mobile_phone')}}</label>
                                <div class="col-sm-9">
                                    <input type="text" v-model="editedCustomer.phone" name="phone" id="phone" class="form-control allow-numbers-only">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ $t('total.address')}}</label>
                                <div class="col-sm-9">
                                    <input type="text" v-model="editedCustomer.address" name="address" id="address" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{ $t('total.close')}}</button>
                            <button type="button" class="btn btn-primary"
                                    :disabled="editedCustomer.first_name == '' || editedCustomer.last_name == '' || editedCustomer.email == ''
                                    || editedCustomer.phone == '' || editedCustomer.address == ''"
                                    @click="saveCustomer()"
                                    v-if="!editedCustomer.id"
                            >
                                {{ $t('total.save')}}
                            </button>
                            <button type="button" class="btn btn-primary"
                                    :disabled="editedCustomer.first_name == '' || editedCustomer.last_name == '' || editedCustomer.email == ''
                                    || editedCustomer.phone == '' || editedCustomer.address == ''"
                                    @click="updateCustomer()"
                                    v-if="editedCustomer.id"
                            >
                                {{ $t('total.update')}}
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </section>
    </div>
</template>

<script>
    import http from '../../mixins/http';
    import alertifyAlerts from '../../mixins/alertify-alerts';
    import alertifyConfirms from '../../mixins/alertify-confirms';
    import helpers from '../../mixins/helpers';

    export default {
        name: "customers",
        mixins: [http, alertifyAlerts, alertifyConfirms],
        data: function () {
            return {
                customers: {},
                pageNumber: 1,
                editedCustomer: {
                    first_name: '',
                    last_name: '',
                    email: '',
                    address: '',
                    phone: '',
                },
                isInvalidEmail: false,
                orderByField: 'id',
                orderByDirection: 'ASC',
                filter: {
                    first_name: '',
                    last_name: '',
                    email: '',
                    address: '',
                    phone: '',
                }
            }
        },

        created: function () {

            this.$eventGlobal.$on('update-user-profile', (data) => {
                this.user = data;
            });

            this.httpGet('/api/customers')
                .then(data => {
                    this.customers = data;
                })
                .catch(err => {
                    console.log('err', err);
                });
        },

        methods: {
            customersPageChanged: function (pageNum) {
                this.pageNumber = pageNum;
                this.httpGet('/api/customers?page=' + pageNum)
                    .then(data => {
                        this.customers = data;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            clickAdd: function () {
                this.resetForm();
                $('#customer_modal').modal('show');
            },

            saveCustomer: function () {
                if (!this.validateEmail(this.editedCustomer.email)) {
                    this.isInvalidEmail = true;
                    return;
                }
                let data = JSON.parse(JSON.stringify(this.editedCustomer));
                this.httpPost('/api/customers?page=' + this.pageNumber, data)
                    .then(data => {
                        this.customers = data;
                        $('#customer_modal').modal('hide');
                        let text = this.$i18n.t('total.customer_added');
                        alertify.success(text);
                        this.resetForm();
                    })
                    .catch(err => {
                        console.log('err', err);
                        alertify.error(err.data.message);
                        $.each(err.data.errors, (key, value)=>{
                            console.log('value', value);
                            alertify.error(value[0]);
                        });
                    });
            },

            clickEdit: function (el) {
                this.editedCustomer = JSON.parse(JSON.stringify(el));
                $('#customer_modal').modal('show');
            },

            updateCustomer: function () {
                if (!this.validateEmail(this.editedCustomer.email)) {
                    this.isInvalidEmail = true;
                    return;
                }
                let updatedData = JSON.parse(JSON.stringify(this.editedCustomer));
                this.httpPost('/api/customers/' + updatedData.id + '/update', updatedData)
                    .then(data => {
                        this.customers = data;
                        $('#customer_modal').modal('hide');
                        let text = this.$i18n.t('total.customer_edited');
                        alertify.success(text);
                        this.resetForm();
                    })
                    .catch(err => {
                        console.log('err', err);
                        alertify.error(err.data.message);
                        $.each(err.data.errors, (key, value)=>{
                            console.log('value', value);
                            alertify.error(value[0]);
                        });
                    });
            },

            resetForm: function () {
                this.editedCustomer = {
                    first_name: '',
                    last_name: '',
                    email: '',
                    address: '',
                    phone: '',
                };
                this.isInvalidEmail = false;
            },

            clickRemove: function (el) {
                this.editedCustomer = JSON.parse(JSON.stringify(el));
                let confirm = this.$i18n.t('total.please_confirm');
                let text = this.$i18n.t('total.remove_customer');
                alertifyConfirms.confirmSuccess(confirm, text, this.removeCustomer);
            },

            removeCustomer: function () {
                this.httpDelete('/api/customers/' + this.editedCustomer.id + '/delete')
                    .then(data => {
                        this.customers = data;
                        let text = this.$i18n.t('total.customer_deleted');
                        alertify.success(text);
                    })
                    .catch(err => {
                        console.log('err', err);
                        alertify.error(err.data.message);
                    });
            },

            validateEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(email).toLowerCase());
            },

            showCustomersWithSort: function (field, direction) {
                $('.text-red').removeClass('text-red');
                $('#sort-'+direction+'-'+field).addClass('text-red');
                this.orderByField = field;
                this.orderByDirection = direction;
                let urlParams = this.setGetParametrs();
                this.httpGet('/api/customers' +  urlParams)
                    .then(data => {
                        console.log('data', data);
                        this.customers = data;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            setGetParametrs: function () {
                let urlParams = '';
                urlParams += '?page=' + this.pageNumber + '&order-by-field=' + this.orderByField + '&order-by-direction=' + this.orderByDirection;

                return urlParams;
            },

            daysKeyup: function (el) {

            }

        },

        mounted: function () {
            helpers.allowNumbersOnly();
        },
    }
</script>

<style scoped>

</style>