<template>
    <div>
        <crud-table
                entity-name="room"
                crud-url="/api/rooms"
                :entity-fields-options="roomFields"
        >
            <template slot="title">
                {{ $t('total.rooms') }}
            </template>
        </crud-table>
    </div>
</template>

<script>
    const roomFields = {
        id: {
            editable: false,
            filterable: false,
            sortable: true,
        },
        name: {
            editable: true,
            inputType: 'text',
            filterable: true,
            sortable: true
        },
        price_per_hour: {
            editable: true,
            inputType: 'text',
            filterable: true,
            sortable: true
        },
        price_30minutes_extra: {
            editable: true,
            inputType: 'text',
            filterable: true,
            sortable: true
        },
        price_person_extra: {
            editable: true,
            inputType: 'text',
            filterable: true,
            sortable: true
        },
        min_hours: {
            editable: true,
            inputType: 'text',
            filterable: true,
            sortable: true
        },
        max_hours: {
            editable: true,
            inputType: 'text',
            filterable: true,
            sortable: true
        },
        min_persons: {
            editable: true,
            inputType: 'text',
            filterable: true,
            sortable: true
        },
        max_persons: {
            editable: true,
            inputType: 'text',
            filterable: true,
            sortable: true
        },
        cleanup_time_minutes: {
            editable: true,
            inputType: 'text',
            filterable: true,
            sortable: true
        },
        base_price_amount_persons: {
            editable: true,
            inputType: 'text',
            filterable: true,
            sortable: true
        }
    };

    import CrudTable from './CrudTable.vue';

    export default {
        name: "rooms",
        data: function () {
            return {
                roomFields: roomFields,
            }
        },

        components: {
            CrudTable
        }
    }
</script>

<style scoped>

</style>