<template>
    <div>
        <section class="content">
            <div class="row">
                <sub-menu-header></sub-menu-header>
                <div class="col-sm-12">
                    <h1>
                        {{ $t('total.menu_translate')}}
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <select v-model="langChosen" name="year" class="form-control" @change="changeLang()" >
                            <option v-for="lang in listLanguages"
                                    :value="lang.code">{{lang.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-11">
                    <div class="row text-right">
                        <div class="col-md-1">
                            <button class="btn btn-success btn-flat " @click="updateWords()"><i class="fa fa-save"></i> {{$t('total.save')}}</button>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-danger btn-flat " @click="clickDeleteWords()"><i class="fa fa-trash-o"></i> {{$t('total.delete')}}</button>
                        </div>
                        <div class="col-md-3 col-md-offset-7">
                            <div class="input-group input-group">
                                <select  v-model="language" class="form-control">
                                    <option :value="languageItem.code" v-for="languageItem in languageList" >
                                        {{languageItem.name}}
                                    </option>
                                </select>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary btn-flat" @click="addLanguage">Add Language</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <section class="col-md-12">
                    <form>

                        <div class="box">
                            <div class="box-header">
                                <i class="ion ion-clipboard"></i>

                                <h3 class="box-title">{{$t('total.menu_translate')}}</h3>

                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-3" v-for="word in words">
                                        <div class="form-group">
                                            <label class="control-label "> {{word.alias}}</label>
                                            <input type="text" class="form-control" v-model="word[langChosen]" placeholder="">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <a href="javascript:void(0)" @click="updateWords()" class="btn btn-success pull-right"><i class="fa fa-save"></i> {{$t('total.save')}}</a>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </section>
    </div>
</template>

<script>

    import http from '../../../mixins/http';
    import helpers from '../../../mixins/helpers';
    import languageList  from '../../../common-data/language-list';
    import alertifyConfirms from '../../../mixins/alertify-confirms';

    export default {
        name: "translate",
        mixins: [http, helpers, alertifyConfirms],
        data: function () {
            return {
                user: JSON.parse(localStorage.getItem('logged-user')),
                languageList: languageList,
                words: {},
                langChosen: 'en',
                listLanguages: [],
                language: ''
            }
        },

        created: function () {
            this.$eventGlobal.$on('update-user-profile', (data) => {
                this.user = data;
            });
            this.httpGet('/api/configurations/get-words?lang=' + this.langChosen)
                .then(data => {
                    this.words = data.data.words;
                    this.listLanguages = data.data.listLanguages;
                })
                .catch(err => {
                    console.log('err', err);
                });
        },
        methods: {

            updateWords: function () {
                let data = JSON.parse(JSON.stringify(this.words));
                this.httpPost('/api/configurations/update-words?lang=' + this.langChosen, data)
                    .then(data => {
                        this.words = data.data;
                        let text = this.$i18n.t('total.words_updated');
                        alertify.success(text);
                        setTimeout(function(){
                            location.reload();
                        }, 1000);
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            changeLang: function () {
                this.httpGet('/api/configurations/get-words?lang=' + this.langChosen)
                    .then(data => {
                        this.words = data.data.words;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            addLanguage: function () {
                if (!this.isExist(this.language)) {
                    let text = this.$i18n.t('total.language_already_exists');
                    alertify.error(text);
                    return;
                }
                let data = {
                    code: this.language,
                };
                $.each(this.languageList, (key, value)=>{
                    if (value.code == this.language) {
                        data.name = value.name;
                    }
                });
                this.httpPost('/api/configurations/add-language', data)
                    .then(data => {
                        this.listLanguages = data.data.listLanguages;
                        this.langChosen = data.data.addedLang;
                        this.words = data.data.words;
                    })
                    .catch(err => {
                        console.log('err', err);
                        alertify.error(err.data.message);
                    });
            },

            isExist: function (el) {
                let result = true;
                $.each(this.listLanguages, (key, value)=>{
                    if (value.code == el) {
                        result = false;
                    }
                });
                return result;
            },

            clickDeleteWords: function () {
                let confirm = this.$i18n.t('total.please_confirm');
                let text = this.$i18n.t('total.delete_language') + ' (' + this.langChosen + ')';
                alertifyConfirms.confirmWarning(confirm, text, this.deleteLanguage);
            },

            deleteLanguage: function () {
                console.log('this.langChosen ', this.langChosen );
                this.httpDelete('/api/configurations/delete-language/'+this.langChosen)
                    .then(data => {
                        this.listLanguages = data.data.listLanguages;
                        this.langChosen = data.data.lang;
                        this.words = data.data.words;
                        let text = this.$i18n.t('total.language_deleted');
                        alertify.success(text);
                        setTimeout(function(){
                            location.reload();
                        }, 1000);
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            }

        },

        mounted: function () {

        }

    }
</script>

<style scoped>

</style>