<template>
    <div>
        <section class="content-header">
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <sub-menu-header></sub-menu-header>
                <div class="col-sm-12">
                    <h1>
                        {{ $t('total.absences_overview')}}
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="box">
                        <div class="box-header">
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <h5  class="select-date">
                                        <a @click="selectedPreviousDay()"><i class="fa fa-angle-left"></i>  {{ $t('total.previous_day')}}</a>
                                    </h5>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="text" id="selected_date" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h5  class="select-date">
                                        <a @click="selectedNextDay()"> {{ $t('total.next_day')}} <i class="fa fa-angle-right"></i></a>
                                    </h5>
                                </div>
                            </div>

                        </div>
                        <div class="box-body">
                            <div class="col-md-12">
                                <h3 class="text-center" v-if="!absencesRequests.length">
                                    {{ $t('total.no_data')}}
                                </h3>
                                <table class="table table-bordered table-striped table-hovered" v-if="absencesRequests.length">
                                    <thead>
                                    <tr>
                                        <th>{{ $t('total.user')}}</th>
                                        <th># {{ $t('total.hours')}}</th>
                                        <th># {{ $t('total.days')}}</th>
                                        <th>{{ $t('total.start_date')}}</th>
                                        <th>{{ $t('total.start_hour')}}</th>
                                        <th>{{ $t('total.type')}}</th>
                                        <th>{{ $t('total.back_on')}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="absencesRequestItem in absencesRequests">
                                        <td>{{absencesRequestItem.user.name}} {{absencesRequestItem.user.surname}}</td>
                                        <td><span  v-if="absencesRequestItem.hours">{{absencesRequestItem.hours}}</span>
                                            <span v-if="absencesRequestItem.hours>1">{{ $t('total.hours_small')}}</span>
                                            <span v-if="absencesRequestItem.hours==1">{{ $t('total.hour_small')}}</span>
                                        </td>
                                        <td v-if="absencesRequestItem.days">{{absencesRequestItem.days}}
                                            <span v-if="absencesRequestItem.hours>1">{{ $t('total.days_small')}}</span>
                                            <span v-else>{{ $t('total.day_small')}}</span>
                                        </td>
                                        <td>{{absencesRequestItem.startIn}}</td>
                                        <td>{{absencesRequestItem.start_hour}}</td>
                                        <td>{{absencesRequestItem.leave_type.name}}</td>
                                        <td>{{absencesRequestItem.startEnd}}</td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-7">
                    <div class="box">
                        <div class="box-body">
                            <full-calendar ref="calendar" :events = "getEvents" :editable="false"  :config="config"></full-calendar>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</template>

<script>
    import http from '../../../mixins/http';
    import helpers from '../../../mixins/helpers';

    require('../../../../../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker');
    require('../../../../../../bower_components/bootstrap-daterangepicker/daterangepicker');

    export default {
        name: "absences-overview",
        mixins: [http, helpers],
        data: function () {
            return {
                user: JSON.parse(localStorage.getItem('logged-user')),
                absencesRequests: {},
                selectedDate: '',
                chosenDate: '',
                curDate: '',
                previousDay: '',
                nextDay: '',
                events: [],
                conMontReq: {},
                penMontReq: {},
                config: {
                    defaultView: 'month',
                    header: {
                        left:   'prev,next ',
                        center: 'title',
                        right:  'prev,next'
                    },
                    firstDay: 1,
                }

            }
        },

        created: function () {

            this.$eventGlobal.$on('update-user-profile', (data) => {
                this.user = data;
            });

            if(!this.chosenDate){
                this.curDate = moment().format('YYYY-MM-DD');
                this.previousDay = moment(this.curDate).add(-1, 'days').format('YYYY-MM-DD');
                this.nextDay = moment(this.curDate).add(+1, 'days').format('YYYY-MM-DD');
            }else{
                this.curDate = this.chosenDate;
            }
            this.httpGet('/api/absences-overview?curDate=' + this.curDate)
                .then(data => {
                    this.absencesRequests = data.data;
                    this.transformDays();
                })
                .catch(err => {
                    console.log('err', err);
                });
        },

        methods: {

            getAbsencesRequestchosenDate: function (date) {
                this.httpGet('/api/absences-overview?curDate=' + date)
                    .then(data => {
                        this.absencesRequests = data.data;
                        this.transformDays();
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            transformDays: function () {
                this.absencesRequests.forEach(el=>{
                    el.startIn = moment(el.start_date).format('DD/MM/YYYY');
                });
                this.absencesRequests.forEach(el=>{
                    el.startEnd = moment(el.end_date).format('DD/MM/YYYY');
                });
            },

            initSelectedDate: function (setDate) {

                this.selectedDate.daterangepicker({
                    timePicker: false,
                    locale: {
                        format: 'YYYY/MM/DD'
                    },
                    singleDatePicker: true,
                    startDate: setDate? setDate : moment()
                });


                this.initSelectedDateWatcher();
            },

            initSelectedDateWatcher: function () {
                this.selectedDate.on('apply.daterangepicker', (ev, picker) => {

                    let startDate = moment((new Date(ev.target.value.split('/').join('-')).getTime()));
                    this.chosenDate = startDate.format('YYYY-MM-DD');

                    this.previousDay = moment(startDate.add(-1, 'days')).format('YYYY-MM-DD');
                    this.nextDay = moment(startDate.add(+2, 'days')).format('YYYY-MM-DD');

                    this.getAbsencesRequestchosenDate(this.chosenDate);
                });
            },

            selectedPreviousDay: function() {
                this.getAbsencesRequestchosenDate(this.previousDay);
                this.initSelectedDate(this.previousDay);


                this.nextDay = moment(this.previousDay).add(+1, 'days').format('YYYY-MM-DD');
                this.previousDay = moment(this.previousDay).add(-1, 'days').format('YYYY-MM-DD');
            },

            selectedNextDay: function() {
                this.getAbsencesRequestchosenDate(this.nextDay);
                this.initSelectedDate(this.nextDay);

                this.previousDay = moment(this.nextDay).add(-1, 'days').format('YYYY-MM-DD');
                this.nextDay = moment(this.nextDay).add(+1, 'days').format('YYYY-MM-DD');
            },

            getEvents: function (start, end, timezone, callback) {
                start = moment(start).format('YYYY-MM-DD');
                end = moment(end).format('YYYY-MM-DD');
                this.httpGet('/api/get-leave-requests-calendar?colleagues=2&start=' + start + '&end=' + end)
                    .then(data => {
                        this.conMontReq = data.data.conMontReq;
                        this.penMontReq = data.data.penMontReq;
                        this.events = helpers.getArrayEvents(this.penMontReq, this.user.id).concat(helpers.getArrayEvents(this.conMontReq, this.user.id));
                        callback( this.events);
                    });
            }
        },

        mounted: function () {
            this.selectedDate = jQuery('#selected_date');
            this.initSelectedDate(moment());
        },
    }
</script>

<style scoped>

</style>