<template>
    <div>

        <section class="content-header">
            <h1>
                {{ $t('total.welcome')}} {{user.name}}
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <sub-menu-header></sub-menu-header>
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-md-6 connectedSortable">



                    <!-- TO DO List -->
                    <div class="box">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>

                            <h3 class="box-title">Hello</h3>

                            <div class="box-tools">
                                <!--<pagination :records="parseInt(confirmedLeaves.total)" :per-page="15" @paginate="confirmedLeavePageChanged"></pagination>-->
                            </div>
                        </div>
                        <div class="box-body">
                            Hello World!
                        </div>
                    </div>


                </section>

            </div>

        </section>


    </div>
</template>

<script>
    import http from '../../../mixins/http';
    import helpers from '../../../mixins/helpers';

    export default {
        mixins: [http, helpers],
        data: function () {
            return {
                user: JSON.parse(localStorage.getItem('logged-user')),
            }
        },

        created: function () {
            this.$eventGlobal.$on('update-user-profile', (data) => {
                this.user = data;
            });

        },
        methods: {

        },

        mounted: function () {
            this.$eventGlobal.$on('add-leave', editedLeave => {
                this.pendingLeavePageChanged(1);
            });
        }

    }
</script>

<style scoped>

</style>