<template>
    <div>

        <section class="content-header">
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <sub-menu-header></sub-menu-header>
                <div class="col-sm-12">
                    <h1>
                        {{ $t('total.leave_overview')}}
                    </h1>
                </div>
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <section class="col-md-1">
                    <div class="form-group">
                        <select v-model="yearChosen" name="year" class="form-control">
                            <option v-if="allLeaves.data && allLeaves.data.length == 0">{{this.yearChosen}}</option>
                            <option v-for="year in this.years"
                                    :value="year">{{year}}</option>
                        </select>
                    </div>
                </section>
            </div>
            <div class="row">
                <!-- Left col -->
                <section class="col-md-7 connectedSortable">


                    <!-- TO DO List -->
                    <div class="box">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>

                            <h3 class="box-title">{{ $t('total.leave_requests')}}</h3>
                            <div class="box-tools">
                                <pagination :records="parseInt(allLeaves.total)" :per-page="15" @paginate="allLeavePageChanged"></pagination>
                            </div>

                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <h3 v-if="allLeaves.data && allLeaves.data.length == 0"> {{ $t('total.no_data')}}</h3>
                            <table class="table table-bordered" v-if="allLeaves.data && allLeaves.data.length != 0">
                                <tbody>
                                <tr>
                                    <th>{{ $t('total.start_date')}}</th>
                                    <th>{{ $t('total.end_date')}}</th>
                                    <th>#{{ $t('total.days')}}</th>
                                    <th>{{ $t('total.start_hour')}}</th>
                                    <th>#{{ $t('total.hours')}}</th>
                                    <th>{{ $t('total.type')}}</th>
                                    <th>{{ $t('total.status')}}</th>
                                    <th></th>
                                </tr>

                                <tr v-for="leave in allLeaves.data">
                                    <td>
                                        {{leave.startIn}}
                                    </td>
                                    <td>
                                        {{leave.startEnd}}
                                    </td>
                                    <td>
                                        {{leave.days}}
                                    </td>
                                    <td>{{leave.start_hour}}</td>
                                    <td>{{leave.hours}}</td>
                                    <td>{{leave.leave_type.name}}</td>
                                    <td><span v-if="leave.request_status">{{leave.request_status.name}}</span></td>
                                    <td>
                                        <div v-if="leave.request_status_id != 2">
                                            <a href="javascript:void(0)" @click="showEditModal(leave)" v-if="allLeaves.data && allLeaves.data.length" >{{ $t('total.edit')}}</a>
                                            /
                                            <a href="javascript:void(0)" @click="showRemoveModal(leave)" >{{ $t('total.remove')}}</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box -->

                    <div class="box">
                        <div class="box-body">

                            <full-calendar ref="calendar" :events = "getEvents" :editable="false" :config="config"></full-calendar>
                        </div>
                    </div>
                </section>
                <!-- /.Left col -->

                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-md-5 connectedSortable">

                    <div class="box">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>
                            <h3 class="box-title">{{ $t('total.overview')}}</h3>
                        </div>
                        <div class="box-body">
                            <h3 v-if="!takenDays && !allLeaves.data && allLeaves.data.length == 0"> {{ $t('total.no_data')}}</h3>
                            <div class="row" >
                                <div class="col-md-4">
                                    <table class="table table-bordered ">
                                        <thead>
                                        <th>{{ $t('total.given')}}</th>
                                        <th></th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                {{ $t('total.leave_days')}}
                                            </td>
                                            <td>
                                                <span v-if="takenDays">{{takenDays.default_leavedays}}</span>
                                                <span v-else>0</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ $t('total.extra_leave_days')}}
                                            </td>
                                            <td>
                                                <span v-if="takenDays">{{ takenDays.extra_leavedays}}</span>
                                                <span v-else>0</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ $t('total.extra_leave_days')}}
                                            </td>
                                            <td>{{publicHolidays}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <table class="table table-bordered ">
                                        <thead>
                                        <th>{{ $t('total.taken_days')}}</th>
                                        <th></th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                {{ $t('total.total_days')}}
                                            </td>
                                            <td>
                                                    <span v-if="takenDays">
                                                        {{totalDays = Math.round(takenDays.default_leavedays) + Math.round(takenDays.extra_leavedays) + Math.round(publicHolidays)}}
                                                    </span>
                                                <span v-else>{{publicHolidays}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ $t('total.total_taken')}}
                                            </td>
                                            <td>{{Math.round(totalTaken.days)}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ $t('total.total_to_take')}}
                                            </td>
                                            <td>
                                                <span v-if="takenDays">{{totalDays - Math.round(totalTaken.days)}}</span>
                                                <span v-else>{{publicHolidays}}</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <table class="table table-bordered ">
                                        <thead>
                                        <th>{{ $t('total.taken_hours')}}</th>
                                        <th></th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                {{ $t('total.total_hours')}}
                                            </td>
                                            <td>
                                                    <span v-if="takenDays">
                                                        {{takenDays.default_leavehours}}
                                                    </span>
                                                <span v-else>
                                                        0
                                                    </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ $t('total.total_taken')}}
                                            </td>
                                            <td>{{Math.round(totalTaken.hours)}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ $t('total.total_to_take')}}
                                            </td>
                                            <td>
                                                <span v-if="takenDays">{{takenDays.default_leavehours - totalTaken.hours}}</span>
                                                <span v-else>0</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row" v-if="allLeaves.data && allLeaves.data.length > 0">
                                <div class="col-md-12">
                                    <table class="table table-bordered leave-type-overview-table">
                                        <thead>
                                        <th style="width: 70%;">{{ $t('total.type')}}</th>
                                        <th>{{ $t('total.days')}}</th>
                                        <th>{{ $t('total.hours')}}</th>
                                        </thead>
                                        <tbody>

                                        <tr v-for="groupLeaveItem in groupLeave.type">
                                            <td colspan="3" v-if="groupLeaveItem.leaveRequest.length" style="padding: 0">
                                                <table class="table table-striped">
                                                    <tbody>
                                                    <tr>
                                                        <td v-if="groupLeaveItem.leaveRequest.length"  style="width: 70%;">
                                                            {{groupLeaveItem.name}}

                                                        </td>
                                                        <td v-if="groupLeaveItem.leaveRequest.length">{{groupLeaveItem.sumDays}}</td>
                                                        <td v-if="groupLeaveItem.leaveRequest.length">{{groupLeaveItem.sumHours}}</td>
                                                    </tr>
                                                    <tr v-for="leaveRequestItem in groupLeaveItem.leaveRequest"
                                                        :class="(leaveRequestItem.request_status_id == 1)?'bg-yellow':''"
                                                    >
                                                        <td  style="width: 70%;">
                                                                <span v-if="leaveRequestItem.hours">{{leaveRequestItem.hours}}

                                                            </span>
                                                            <span v-if="leaveRequestItem.days">{{leaveRequestItem.days}}
                                                                <span v-if="leaveRequestItem.days>1">{{ $t('total.days_small')}}</span>
                                                                <span v-else>{{ $t('total.day_small')}}</span>
                                                            </span>
                                                            {{ $t('total.on')}}
                                                            {{leaveRequestItem.startIn}}
                                                        </td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box -->
                </section>
                <!-- right col -->

            </div>
            <!-- /.row (main row) -->

        </section>

        <div class="modal fade" id="modal-remove" style="display: none;">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2 class="text-center">{{ $t('total.are_you_sure')}}</h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{ $t('total.close')}}</button>
                        <button type="button" class="btn btn-primary" @click="removeLeave()">{{ $t('total.remove')}}</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</template>

<script>
    import http from '../../../mixins/http';
    import alertifyAlerts from '../../../mixins/alertify-alerts';
    import alertifyConfirms from '../../../mixins/alertify-confirms';
    import helpers from '../../../mixins/helpers';

    require('../../../../../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker');
    require('../../../../../../bower_components/bootstrap-daterangepicker/daterangepicker');

    export default {
        mixins: [http, alertifyAlerts, alertifyConfirms, helpers],
        data: function () {
            return {
                yearChosen: '',
                user: JSON.parse(localStorage.getItem('logged-user')),
                thisYear: new Date(),
                nextYear: '',
                allLeaves: [],
                years: [],
                editedLeave: {},
                leaveTypeListForEdit: [],
                startDate: {},
                endDate: {},
                takenDays: {},
                totalTaken: [],
                totalDays: '',
                totalHours: '',
                publicHolidays: '',
                groupLeave: [],
                sumHours: '',
                sumDays: '',
                dataModal: {},
                numberPage: 1,
                conMontReq: {},
                penMontReq: {},
                events: [],
                config: {
                    defaultView: 'month',
                    header: {
                        left:   'prev,next ',
                        center: 'title',
                        right:  'prev,next'
                    },
                    firstDay: 1,
                }
            }
        },

        created: function () {

            this.$eventGlobal.$on('update-user-profile', (data) => {
                this.user = data;
            });

            this.httpGet('/api/leave-overview?year=' + this.thisYear.getFullYear() + '-01-01&nextYear=' + (this.thisYear.getFullYear()+1) + '-01-01' )
                .then(data => {
                    this.allLeaves = data.allLeaveRequests;
                    this.years = data.years;
                    this.takenDays = data.takenDays;
                    this.totalTaken = data.totalTaken;
                    this.publicHolidays = data.publicHolidays.holiday_number;
                    this.groupLeave = data.groupLeave;
                    this.composeDaysPassed();
                    this.composeDaysgroupLeave();
                })
                .catch(err => {
                    console.log('err', err);
                });
        },

        watch: {
            'yearChosen': function(newVal) {
                this.httpGet('/api/leave-overview?year=' + newVal + '-01-01&nextYear=' + (newVal+1) + '-01-01')
                    .then(data => {
                        this.allLeaves = data.allLeaveRequests;
                        this.years = data.years;
                        this.takenDays = data.takenDays;
                        this.totalTaken = data.totalTaken;
                        this.publicHolidays = data.publicHolidays.holiday_number;
                        this.groupLeave = data.groupLeave;
                        this.composeDaysPassed();
                        this.loadLeaveTypeList();
                        this.composeDaysgroupLeave();
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },
        },
        methods: {
            updateRequestList: function () {
                this.updateLeavesList(this.numberPage);
            },

            allLeavePageChanged: function (pageNumber) {
                this.numberPage = pageNumber;
                this.httpGet('/api/user-all-leave-requests?year=' + this.yearChosen + '-01-01&nextYear=' + (this.yearChosen+1) + '-01-01&page=' + pageNumber )
                    .then(data => {
                        this.allLeaves = data;
                        this.composeDaysPassed();
                    })
            },

            updateLeavesList: function (pageN) {
                this.httpGet('/api/user-all-leave-requests?year=' + this.yearChosen + '-01-01&nextYear=' + (this.yearChosen+1) + '-01-01&page=' + pageN )
                    .then(data => {
                        this.allLeaves = data;
                        this.composeDaysPassed();
                    })
            },

            composeDaysPassed: function () {
                this.allLeaves.data.forEach(el=>{
                    el.startIn = moment(el.start_date).format('DD/MM/YYYY');
                });

                this.allLeaves.data.forEach(el=>{
                    el.startEnd = moment(el.end_date).format('DD/MM/YYYY');
                });
            },

            composeDaysgroupLeave: function () {
                this.groupLeave.type.forEach(el=>{
                    el.sumHours = 0;
                    el.sumDays = 0;
                    el.leaveRequest.forEach(elem=>{
                        elem.startIn = moment(elem.start_date).format('DD/MM/YYYY');
                        if(elem.hours){
                            el.sumHours = Math.round(el.sumHours + parseFloat(elem.hours),2);
                        }
                        if(elem.days){
                            el.sumDays = Math.round(el.sumDays + parseFloat(elem.days),2);
                        }
                    });
                });
            },

            showEditModal: function(leave){
                this.dataModal.editedLeave = JSON.parse(JSON.stringify(leave));

                this.$eventGlobal.$emit('show-request-modal', JSON.parse(JSON.stringify(this.dataModal)));

            },

            updateLeave: function (leaveRequest) {

                let curYear;
                if(!this.yearChosen){
                    curYear = this.thisYear;
                }else {
                    curYear = this.yearChosen;
                }
                // leaveRequest.request_status_id = this.editedLeave.request_status_id;

                this.editedLeave = leaveRequest;

                this.editedLeave.start_hour =  leaveRequest.start_hour.HH + ':' + leaveRequest.start_hour.mm + ':00';

                this.httpPost('/api/update-leave-request?year=' + curYear + '-01-01&nextYear=' + (curYear+1) + '-01-01&page=' + this.numberPage, this.editedLeave)
                    .then(data => {
                        this.allLeaves = data;
                        $('#add-request').modal('hide');
                        this.composeDaysPassed();
                        let text = this.$i18n.t('total.leave_request_upddated');
                        alertify.success(text);
                    })
            },

            loadLeaveTypeList: function () {
                this.httpGet('/api/leave-types-user-selectable')
                    .then(data => {
                        this.leaveTypeListForEdit = data;
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            showRemoveModal: function (leave) {
                this.editedLeave = leave;
                let confirm = this.$i18n.t('total.please_confirm');
                let text = this.$i18n.t('total.remove_leave');
                alertifyConfirms.confirmSuccess(confirm, text, this.removeLeave);
            },

            removeLeave(){
                let curYear;
                if(!this.yearChosen){
                    curYear = this.thisYear;
                }else {
                    curYear = this.yearChosen;
                }
                this.httpDelete('/api/delete-leave-request/'+this.editedLeave.id + '?year=' + curYear + '-01-01&nextYear=' + (curYear+1) + '-01-01&page=' + this.numberPage)
                    .then(data => {
                        this.allLeaves = data;
                        this.composeDaysPassed();
                        let text = this.$i18n.t('total.leave_request_removed');
                        alertify.success(text);

                    });
            },

            showAddRequestModal: function () {
                this.editedLeave = null;
                $('#add-request').modal('show');
            },

            getEvents: function (start, end, timezone, callback) {
                start = moment(start).format('YYYY-MM-DD');
                end = moment(end).format('YYYY-MM-DD');
                this.httpGet('/api/get-leave-requests-calendar?colleagues=0&start=' + start + '&end=' + end)
                    .then(data => {
                        this.conMontReq = data.data.conMontReq;
                        this.penMontReq = data.data.penMontReq;
                        this.events = helpers.getArrayEvents(this.penMontReq, this.user.id).concat(helpers.getArrayEvents(this.conMontReq, this.user.id));
                        callback( this.events);
                    });
            },

        },

        mounted:function () {
            this.yearChosen = this.thisYear.getFullYear();
            this.startDate = jQuery('#start_date_edit');
            this.endDate = jQuery('#end_date_edit');


            this.$eventGlobal.$on('update-leave-request', editedLeave => {
                this.updateLeave(editedLeave);

            });
            this.$eventGlobal.$on('add-leave', editedLeave => {
                this.updateRequestList(1);

            });
        }

    }
</script>

<style scoped>

</style>