<template>

    <div>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ $t('total.profile')}}
                <small>{{ $t('total.set_you_profile_settings')}}</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box box-info">

                <form class="form-horizontal">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{user.name}} {{user.surname}}</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                                <i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">

                        <user-profile-pop-up  @onUpdateUser="doUpdateProfile" :editedUser="user"></user-profile-pop-up>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <!-- /.box -->


        </section>


    </div>

</template>

<script>

    import http from '../../../mixins/http';
    import countryList  from '../../../common-data/country-list';
    import transportList  from '../../../common-data/transport-list';
    import genderList from '../../../common-data/gender-list';
    import maritalStatusList from '../../../common-data/marital-status-list';

    require('../../../../../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker');
    require('../../../../../../bower_components/bootstrap-daterangepicker/daterangepicker');

    export default {
        mixins: [http],
        data: function () {
            return {
                user: {},
                isSubmitting: false,
                countryList: countryList,
                transports: transportList,
                genderList: genderList,
                maritalStatusList: maritalStatusList,
                birthdayPicker: {},
                maritalStatusSincePicker: {},
                partnerBirthDatePicker: {}
            }
        },
        created: function() {
            this.httpGet('/api/logged-user')
                .then(data => {
                    this.user = data.data;
                    this.setInitialDatesToDatePickers();
                    this.setDatePickerWatchers();

                    this.displayChildrenBirthDate()
                })
                .catch(err => {
                    console.log('err', err);
                });
        },
        methods: {
            handleFileInput: function ($files) {

                let fileToUpload = $files.item(0);

                this.httpPostFile('/api/update-user-profile-picture', fileToUpload, 'profile-picture')
                    .then(data => {
                        this.user = data.data;
                        this.$eventGlobal.$emit('update-user-profile', data.data);
                        this.displayChildrenBirthDate();
                    })
                    .catch(err => {

                    })
            },

            displayChildrenBirthDate: function () {
                if(this.user.children && this.user.children.length) {
                    this.user.children.forEach(ch => {
                        ch.dateBirth = moment(ch.birth_date).format('DD-MMM-YYYY');
                    })
                }
            },

            setInitialDatesToDatePickers: function() {
                this.birthdayPicker.datepicker('setDate',moment(this.user.birth_date).toDate());
                this.maritalStatusSincePicker.datepicker('setDate',moment(this.user.marital_status_since).toDate());
                this.partnerBirthDatePicker.datepicker('setDate',moment(this.user.partner_birth_date).toDate());
            },

            setDatePickerWatchers: function() {
                this.birthdayPicker.datepicker()
                    .on('changeDate',(e) => {
                        this.user.birth_date = moment(e.date).format('YYYY-MM-DD');
                    });

                this.maritalStatusSincePicker.datepicker()
                    .on('changeDate',(e) => {
                        this.user.marital_status_since = moment(e.date).format('YYYY-MM-DD');
                    });

                this.partnerBirthDatePicker.datepicker()
                    .on('changeDate',(e) => {
                        this.user.partner_birth_date = moment(e.date).format('YYYY-MM-DD');
                    });


            },

            doUpdateProfile: function (user) {
                let userToUpdate = JSON.parse(JSON.stringify(user));
                delete userToUpdate['avatar'];

                this.httpPut('/api/update-user-profile', userToUpdate)
                    .then(data => {
                        this.user = data.data;
                        this.$eventGlobal.$emit('update-user-profile', data.data);
                        this.displayChildrenBirthDate();

                        let text = this.$i18n.t('total.profile_updated');
                        alertify.success(text);
                    })
                    .catch(err => {
                        console.log('err', err);
                        alertify.error(err.data.message);
                    })

            },

        },
        mounted: function () {
            this.birthdayPicker = jQuery('#birth_date');
            this.maritalStatusSincePicker = jQuery('#marital_status_since');
            this.partnerBirthDatePicker = jQuery('#partner_birth_date');

            this.birthdayPicker.datepicker({format: 'dd-M-yyyy', autoclose: true});
            this.maritalStatusSincePicker.datepicker({format: 'dd-M-yyyy', autoclose: true});
            this.partnerBirthDatePicker.datepicker({format: 'dd-M-yyyy', autoclose: true});
        }
    }
</script>

<style scoped>

</style>