<template>
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Relax4you2</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <div v-if="isEmailSent">
                <h1 class="text-success text-center" style="margin-top: 0"><i class="fa fa-2x fa-check-circle-o"></i></h1>
                <p>{{$t('total.forgot_pass_text')}}</p>
            </div>

            <div v-if="!isEmailSent">
                <p class="login-box-msg">{{$t('total.forgot_pass_text2')}}</p>

                <form name="loginForm">
                    <div class="form-group has-feedback" :class="{'has-error': errorMessage !== ''}">
                        <input
                                class="form-control"
                                placeholder="Email"
                                type="email"
                                name="email"
                                required
                                v-model="email"
                                @keyup="resetErrorMessage()"
                        >
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        <span class="help-block" v-show="errorMessage !== ''">{{errorMessage}}</span>
                    </div>

                    <div class="row">
                        <!-- /.col -->
                        <div class="col-xs-12">
                            <a href="javascript:void(0)" @click="doRecoverPassword()" class="btn btn-primary btn-block btn-flat">{{$t('total.recover_password')}}</a>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>

            <div class="social-auth-links"></div>

            <router-link to="/login">{{$t('total.back_to_login')}}</router-link><br>

        </div>
        <!-- /.login-box-body -->
    </div>
</template>

<script>
    import http from '../../mixins/http';

    export default {
        mixins: [http],
        data: function () {
            return {
                email: '',
                isEmailSent: false,
                errorMessage: ''
            }
        },
        methods: {
            doRecoverPassword: function() {
                this.httpPost('/api/recover', {email: this.email})
                    .then(data => {
                        console.log('data',data);
                        this.isEmailSent = true;
                    })
                    .catch(err => {
                        this.errorMessage = err.data.message;
                    })
            },
            resetErrorMessage: function() {
                this.errorMessage = '';
            }
        }
    }
</script>

<style scoped>

</style>