<template>
    <div class="login-box">
        <div class="login-logo">
            <a href="javascript:void(0)"><b>Relax4you2</b> Admin</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">{{$t('total.start_session')}}</p>

            <!--<form>-->
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" v-model="email" placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" v-model="password" :placeholder="$t('total.password')">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="grey-checkbox checkbox-margin-top">
                            <label>
                                <input type="checkbox" id="remember-me" v-model="remember_me">
                                <span></span>
                                <span class="remember_text">{{$t('total.remember_me')}}</span>
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <a href="javascript:void(0)" @click="doLogin()" class="btn btn-primary btn-block btn-flat">{{$t('total.sign_in')}}</a>
                    </div>
                    <!-- /.col -->
                </div>
            <!--</form>-->


            <!--<a href="#">I forgot my password</a><br>-->
            <router-link to="/forgot-password">{{$t('total.forgot_password')}}</router-link><br>
            <ul class="mt-40 fs-07 list-inline">
                <li>
                    Change language:
                </li>
                <li v-show="selectedLanguage != lang.code" v-for="lang in listLanguages">
                    <a class="text-uppercase" href="javascript:void(0)" @click="changePublicLang(lang.code)">{{lang.code}}</a>
                </li>
            </ul>

        </div>
        <!-- /.login-box-body -->
    </div>
</template>

<script>
    import http from '../../mixins/http';
    import AuthService from '../../services/auth-service';
    import alertifyAlerts from '../../mixins/alertify-alerts';

    export default {
        mixins: [http, alertifyAlerts],
        data: function () {
            return {
                email: '',
                password: '',
                remember_me: false,
                selectedLanguage: '',
                listLanguages: {}
            }
        },
        created: function () {
            if (!localStorage.getItem('public-lang')) {
                localStorage.setItem('public-lang', 'en');
                this.selectedLanguage = 'en';
            } else {
                this.selectedLanguage = localStorage.getItem('public-lang');
            }
            this.$i18n.locale = this.selectedLanguage;

            this.httpGet('/api/get-languages')
                .then(data => {
                    this.listLanguages = data.data;
                })
                .catch(err => {
                    console.log('err', err);
                });
        },
        methods: {
            doLogin: function() {

                let data = {
                    email: this.email,
                    password: this.password
                };

                this.httpPost('/api/login', data)
                    .then(data => {
                        if(!data.success || !data.data) {
                            return;
                        }

                        AuthService.isLoggedIn = true;

                        localStorage.setItem('auth-token', data.data.token);
                        localStorage.setItem('logged-user', JSON.stringify(data.data.user));

                        window.location.assign('/dashboard')
                    })
                    .catch(err => {
                        console.log('err', err);
                    })
            },

            changePublicLang: function (lang) {
                localStorage.setItem('public-lang', lang);
                this.$i18n.locale = lang;
                this.selectedLanguage = lang;
            }
        },

        mounted: function () {
            if (localStorage.hasOwnProperty('isAutoLogout')) {

                localStorage.removeItem('isAutoLogout');
                let text = this.$i18n.t('total.authorization_token_expired') + '</br>' + this.$i18n.t('total.please_login_again');

                alertifyAlerts.alertDanger('Sorry', text)
            }
        }
    }
</script>

<style scoped>

</style>