<template>
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Relax4you2</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p  class="login-box-msg">{{$t('total.set_new_password')}}</p>

            <div v-if="isPasswordSet">
                <h1 style="margin-top: 0" class="text-success text-center"><i class="fa fa-2x fa-check-circle-o"></i></h1>
                <p class="text-center">{{$t('total.status_success')}} <br /> {{$t('total.status_success2')}}</p>
            </div>

            <div v-if="errorMessage !== ''" style="margin-bottom: 15px">
                <h1 class="text-danger text-center" style="margin-top: 0"><i class="fa fa-2x fa-exclamation-circle"></i></h1>
                <p class="text-danger text-center" >{{errorMessage}}</p>
            </div>

            <form name="loginForm" v-if="!isPasswordSet">
                <div class="form-group has-feedback"  :class="{'has-error': isInvalidEmail}">
                    <input
                            v-model="email"
                            @change="isInvalidEmail = false"
                            class="form-control"
                            placeholder="Email"
                            type="email"
                            name="email"
                            required
                    >
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <div>
                        <!--<span class="help-block" >{{$t('total.email_is_required')}}</span>-->
                        <span class="help-block" v-if="isInvalidEmail">{{$t('total.valid_email')}}</span>
                    </div>
                </div>
                <div class="form-group has-feedback" :class="{'has-error': isShortPassword || isEmptyPassword}">
                    <input
                            v-model="password"
                            @change="isShortPassword = false"
                            type="password"
                            name="password"
                            class="form-control"
                            placeholder="Password"
                            required
                            minlength="6"
                    >
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <div>
                        <span class="help-block" v-if="isEmptyPassword">{{$t('total.password_is_required')}}</span>
                        <span class="help-block" v-if="isShortPassword">{{$t('total.password_6_characters')}}</span>
                    </div>
                </div>


                <div class="form-group has-feedback" :class="{'has-error': password !== password_confirmation && password != '' && password_confirmation != ''}">
                    <input
                            v-model="password_confirmation"
                            type="password"
                            name="password_confirmation"
                            class="form-control"
                            placeholder="Password confirmation"
                            required
                    >
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <div v-if="false">
                        <span class="help-block" >{{$t('total.password_confirmation_required')}}</span>
                    </div>
                    <div v-show="password !== password_confirmation && password != '' && password_confirmation != ''">
                        <span class="help-block">{{$t('total.pass_must_match')}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">

                    </div>
                    <!-- /.col -->
                    <div class="col-xs-12 col-md-5">
                        <a href="javascript:void(0)"
                                @click="doResetPassword()"
                                :disabled="(password !== password_confirmation) || password == '' || password_confirmation == ''"
                                class="btn btn-primary btn-block btn-flat"
                        >{{$t('total.reset_password')}}</a>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <router-link to="/login">{{$t('total.back_to_login')}}</router-link>


            <!-- /.social-auth-links -->


        </div>
        <!-- /.login-box-body -->
    </div>
</template>

<script>
    import http from '../../mixins/http';

    export default {
        mixins: [http],

        data: function () {
            return {
                email: '',
                password: '',
                password_confirmation: '',
                isPasswordSet: false,
                isShortPassword: false,
                isEmptyPassword: false,
                isInvalidEmail: false,
                errorMessage: '',
                token: this.$route.params['token']
            }
        },

        methods: {
            doResetPassword: function() {
                if (!this.validateForm()) {
                   return;
                }
                console.log('asd');
                let data = {
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.password_confirmation,
                    token: this.token
                };

                this.httpPost('/api/password/reset/'+this.token, data)
                    .then(data => {

                        this.isPasswordSet = true;
                    })
                    .catch(err => {
                        this.errorMessage = err.data.message;
                    })
            },

            validateForm: function () {
                let back = true;
                if (this.password.length < 6 ||  this.password_confirmation.length < 6) {
                    this.isShortPassword = true;
                    back = false;
                }
                if (!this.validateEmail(this.email)) {
                    this.isInvalidEmail = true;
                    back = false;
                }
                return back;
            },

            validateEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(email).toLowerCase());
            }
        }
    }
</script>

<style scoped>

</style>