<template>
    <div>
        <section class="content-header">

        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <sub-menu-header></sub-menu-header>
                <div class="col-sm-12">
                    <h1>
                        {{$t('total.supervisor_overview')}}
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <select v-model="yearChosen" name="year" class="form-control">
                            <option v-for="year in this.years"
                                    :value="year">{{year}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="box">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>
                            <h3 class="box-title">{{$t('total.leave_days')}}</h3>
                            <div class="box-tools">
                                <pagination :records="parseInt(leaveDays.total)" :per-page="15" @paginate="leaveDaysPageChanged"></pagination>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered table-striped" v-if="leaveDays.data && leaveDays.data.length">
                                <thead>
                                <tr>
                                    <th>{{ $t('total.user')}}</th>
                                    <th>{{$t('total.default_leave_days')}}</th>
                                    <th>{{$t('total.extra_leave_days')}}</th>
                                    <th>{{$t('total.extra_leave_days_teamleader')}}</th>
                                    <th>{{$t('total.file')}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="leaveDayItem in leaveDays.data">
                                    <td>{{leaveDayItem.name}} {{leaveDayItem.surname}}</td>
                                    <td>{{leaveDayItem.default_leavedays}}</td>
                                    <td>{{leaveDayItem.extra_leavedays}}</td>
                                    <td>{{leaveDayItem.extra_leavedays_teamleader}}</td>
                                    <td><a href="javascript:void(0)" @click="getLeaveDaysUser(leaveDayItem.user_id)">{{$t('total.show')}}</a></td>
                                </tr>
                                </tbody>
                            </table>
                            <h3 v-else class="text-center">{{$t('total.no_data_to_display')}}</h3>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>
                            <h3 class="box-title">{{$t('total.deny')}}</h3>
                            <div class="box-tools">
                                <pagination :records="parseInt(requestedLeaves.total)" :per-page="15" @paginate="requestedLeavesPageChanged"></pagination>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered table-striped" v-if="requestedLeaves.data && requestedLeaves.data.length">
                                <thead>
                                <tr>
                                    <th>{{ $t('total.user')}}</th>
                                    <th>{{ $t('total.start_date')}}</th>
                                    <th>{{ $t('total.end_date')}}</th>
                                    <th>#{{ $t('total.days')}}</th>
                                    <th>{{ $t('total.start_hour')}}</th>
                                    <th>#{{ $t('total.hours')}}</th>
                                    <th>{{ $t('total.type')}}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="requestedLeavesItem in requestedLeaves.data">
                                    <td>{{requestedLeavesItem.name}} {{requestedLeavesItem.surname}}</td>
                                    <td>{{requestedLeavesItem.startIn}}</td>
                                    <td>{{requestedLeavesItem.startEnd}}</td>
                                    <td>{{requestedLeavesItem.days}}</td>
                                    <td>{{requestedLeavesItem.start_hour}}</td>
                                    <td>{{requestedLeavesItem.hours}}</td>
                                    <td>{{requestedLeavesItem.leave_type.name}}</td>
                                    <td>
                                        <a href="javascript:void(0)" @click="sendGrantRequest(requestedLeavesItem)">{{$t('total.grant')}}</a>
                                        /
                                        <a href="javascript:void(0)" @click="clickRequestLeave(requestedLeavesItem)">{{$t('total.deny')}}</a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                            <h3 v-else class="text-center">{{ $t('total.no_data_to_display')}}</h3>
                        </div>
                    </div>

                </div>
                <div class="col-md-5">
                    <div class="box" v-if="userInfo.name">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>

                            <h3 class="box-title">{{ $t('total.overview')}} {{userInfo.name}} {{userInfo.surname}}</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <table class="table table-bordered ">
                                        <thead>
                                        <th>{{ $t('total.given')}}</th>
                                        <th></th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                {{ $t('total.leave_days')}}
                                            </td>
                                            <td>
                                                <span v-if="takenDays">{{takenDays.default_leavedays}}</span>
                                                <span v-else>0</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ $t('total.extra_leave_days')}}
                                            </td>
                                            <td>
                                                <span v-if="takenDays">{{takenDays.extra_leavedays}}</span>
                                                <span v-else>0</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ $t('total.public_holidays')}}
                                            </td>
                                            <td>{{publicHolidays}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <table class="table table-bordered ">
                                        <thead>
                                        <th>{{ $t('total.taken_days')}}</th>
                                        <th></th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                {{ $t('total.total_days')}}
                                            </td>
                                            <td>
                                                <span v-if="takenDays">
                                                    {{totalDays = Math.round(takenDays.default_leavedays) + Math.round(takenDays.extra_leavedays) +  Math.round(publicHolidays)}}
                                                </span>
                                                <span v-else>{{publicHolidays}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ $t('total.total_taken')}}
                                            </td>
                                            <td>{{Math.round(totalTaken.days)}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ $t('total.total_to_take')}}
                                            </td>
                                            <td>
                                                <span v-if="takenDays">{{totalDays - Math.round(totalTaken.days)}}</span>
                                                <span v-else>{{publicHolidays}}</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <table class="table table-bordered ">
                                        <thead>
                                        <th>{{ $t('total.taken_hours')}}</th>
                                        <th></th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                {{ $t('total.total_hours')}}
                                            </td>
                                            <td>
                                                    <span v-if="takenDays">
                                                        {{takenDays.default_leavehours}}
                                                    </span>
                                                <span v-else>
                                                        0
                                                    </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ $t('total.total_taken')}}
                                            </td>
                                            <td>{{Math.round(totalTaken.hours)}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ $t('total.total_to_take')}}
                                            </td>
                                            <td>
                                                <span v-if="takenDays">{{takenDays.default_leavehours - totalTaken.hours}}</span>
                                                <span v-else>0</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered leave-type-overview-table">
                                        <thead>
                                        <th style="width: 70%;"> {{ $t('total.type')}}</th>
                                        <th>{{ $t('total.days')}}</th>
                                        <th>{{ $t('total.hours')}}</th>
                                        </thead>
                                        <tbody>

                                        <tr v-for="groupLeaveItem in groupLeave.type">
                                            <td colspan="3" v-if="groupLeaveItem.leaveRequest.length" style="padding: 0">
                                                <table class="table table-striped">
                                                    <tbody>
                                                    <tr>
                                                        <td v-if="groupLeaveItem.leaveRequest.length"  style="width: 70%;">
                                                            {{groupLeaveItem.name}}

                                                        </td>
                                                        <td v-if="groupLeaveItem.leaveRequest.length">{{groupLeaveItem.sumDays}}</td>
                                                        <td v-if="groupLeaveItem.leaveRequest.length">{{groupLeaveItem.sumHours}}</td>
                                                    </tr>
                                                    <tr v-for="leaveRequestItem in groupLeaveItem.leaveRequest">
                                                        <td  style="width: 70%;">
                                                                <span v-if="leaveRequestItem.hours">{{leaveRequestItem.hours}}

                                                            </span>
                                                            <span v-if="leaveRequestItem.days">{{leaveRequestItem.days}}
                                                                <span v-if="leaveRequestItem.days>1">{{ $t('total.days_small')}}</span>
                                                                <span v-else>{{ $t('total.day_small')}}</span>
                                                            </span>
                                                            {{ $t('total.on')}}
                                                            {{leaveRequestItem.startIn}}
                                                        </td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="action-request">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">{{ $t('total.deny_request')}}</h4>
                    </div>
                    <div class="modal-body form-horizontal">
                        <dl class="dl-horizontal">
                            <dt>{{actionRequest.name}}  {{actionRequest.surname}}</dt>
                            <dd>
                                {{actionRequest.startIn}} - {{actionRequest.startEnd}}
                                {{actionRequest.days}}
                                <span v-if="actionRequest.days>1">{{ $t('total.days_small')}}</span>
                                <span v-if="actionRequest.days==1">{{ $t('total.day_small')}}</span>
                            </dd>
                            <dd>
                                {{actionRequest.start_hour}} <span v-if="actionRequest.hours!=0">{{actionRequest.hours}}</span>
                                <span v-if="actionRequest.hours>1">{{ $t('total.hours_small')}}</span>
                                <span v-if="actionRequest.hours==1">{{ $t('total.hours_small')}}</span>
                            </dd>
                        </dl>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ $t('total.reason')}}:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" v-model="actionRequest.reason" rows="3" ></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{ $t('total.close')}}</button>
                        <button type="button" @click="sendDenyRequest()" :disabled="!actionRequest.reason" class="btn btn-danger"><i class="fa fa-times-circle"></i> {{ $t('total.deny')}}</button>

                    </div>

                </div>
            </div>
        </div>

        <add-request-modal></add-request-modal>
    </div>

</template>

<script>
    import http from '../../../mixins/http';

    require('../../../../../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker');
    require('../../../../../../bower_components/bootstrap-daterangepicker/daterangepicker');

    export default {
        name: "supervisor-overview",
        mixins: [http],
        data: function () {
            return {
                user: JSON.parse(localStorage.getItem('logged-user')),
                leaveDays: {},
                takenDays: [],
                totalTaken: [],
                publicHolidays: [],
                groupLeave: [],
                userInfo: {},
                requestedLeaves: {},
                actionRequest: {},
                yearChosen: '',
                years: [],
                thisYear: new Date(),
            }
        },

        created: function () {
            this.$eventGlobal.$on('update-user-profile', (data) => {
                this.user = data;
            });
            this.httpGet('/api/supervisor/overview?year=' + this.thisYear.getFullYear() + '&nextYear=' + (this.thisYear.getFullYear()+1) + '')
                .then(data => {
                    this.leaveDays = data.data.leaveDays;
                    this.requestedLeaves = data.data.requestedLeaves;
                    this.years = data.data.years;
                    this.transformDays();
                })
                .catch(err => {
                    console.log('err', err);
                });
        },

        watch: {
            'yearChosen': function(newVal) {
                this.yearChosen = newVal;
                this.httpGet('/api/supervisor/overview?year=' + newVal + '&nextYear=' + (newVal + 1))
                    .then(data => {
                        this.leaveDays = data.data.leaveDays;
                        this.requestedLeaves = data.data.requestedLeaves;
                        this.years = data.data.years;
                        this.userInfo ={};
                        this.transformDays();
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            }

        },

        methods: {

            transformDays: function () {
                this.requestedLeaves.data.forEach(el=>{
                    el.startIn = moment(el.start_date).format('DD/MM/YYYY');
                });
                this.requestedLeaves.data.forEach(el=>{
                    el.startEnd = moment(el.end_date).format('DD/MM/YYYY');
                });
            },

            getLeaveDaysUser: function(userId) {
                this.httpGet('/api/supervisor/leave-days-user?userId=' + userId + '&year=' + this.yearChosen + '-01-01&nextYear=' + (this.yearChosen+1) + '-01-01' )
                    .then(data => {
                        this.takenDays = data.takenDays;
                        this.totalTaken = data.totalTaken;
                        this.publicHolidays = data.publicHolidays.holiday_number;
                        this.groupLeave = data.groupLeave;
                        this.userInfo = data.userInfo;
                        this.composeDaysgroupLeave();
                    })
                    .catch(err => {
                        console.log('err', err);
                    });

            },

            composeDaysgroupLeave: function () {
                this.groupLeave.type.forEach(el=>{
                    el.sumHours = 0;
                    el.sumDays = 0;
                    el.leaveRequest.forEach(elem=>{
                        elem.startIn = moment(elem.start_date).format('DD/MM/YYYY');
                        if(elem.hours){
                            el.sumHours = Math.round(el.sumHours + parseFloat(elem.hours),2);
                        }
                        if(elem.days){
                            el.sumDays = Math.round(el.sumDays + parseFloat(elem.days),2);
                        }
                    });
                });
            },

            leaveDaysPageChanged: function (pageNumber) {
                this.httpGet('/api/supervisor/leave-days-page?year=' + this.yearChosen + '&nextYear=' + (this.yearChosen+1) + '&page=' + pageNumber)
                    .then(data => {
                        this.leaveDays = data;
                    })
                    .catch(err => {
                        console.log('err', err);
                    })
            },

            requestedLeavesPageChanged: function (pageNumber) {
                this.httpGet('/api/supervisor/requested-leaves-page?year=' + this.yearChosen + '&nextYear=' + (this.yearChosen+1) + '&page=' + pageNumber)
                    .then(data => {
                        this.requestedLeaves = data;
                        this.transformDays();
                    })
                    .catch(err => {
                        console.log('err', err);
                    })
            },

            clickRequestLeave: function (setRequest) {
                $('#action-request').modal('show');
                this.actionRequest = setRequest;
            },

            sendGrantRequest: function (setRequest) {
                let data = JSON.parse(JSON.stringify(setRequest));
                this.httpPost('/api/supervisor/update-status-request?year=' + this.yearChosen + '&nextYear=' + (this.yearChosen+1), data)
                    .then(data => {
                        this.requestedLeaves = data;
                        this.transformDays();
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
            },

            sendDenyRequest: function () {
                let data = JSON.parse(JSON.stringify(this.actionRequest));
                this.httpPost('/api/supervisor/update-status-request?year=' + this.yearChosen + '&nextYear=' + (this.yearChosen+1), data)
                    .then(data => {
                        this.requestedLeaves = data;
                        this.transformDays();
                    })
                    .catch(err => {
                        console.log('err', err);
                    });
                $('#action-request').modal('hide');
            }

        },

        mounted: function () {
            this.yearChosen = this.thisYear.getFullYear();
        },
    }
</script>

<style scoped>

</style>